color switch.txt
[
    {
        "id": "1a2b3c4d",
        "type": "inject",
        "z": "69b35dfd3fbf48cb",
        "name": "Input",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "red",
        "payloadType": "str",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "5e6f7g8h"
            ]
        ]
    },
    {
        "id": "5e6f7g8h",
        "type": "switch",
        "z": "69b35dfd3fbf48cb",
        "name": "Color Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "red",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "blue",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "a1b2c3d4"
            ],
            [
                "e2f3g4h5"
            ],
            [
                "i3j4k5l6"
            ]
        ]
    },
    {
        "id": "a1b2c3d4",
        "type": "debug",
        "z": "69b35dfd3fbf48cb",
        "name": "Red Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "e2f3g4h5",
        "type": "debug",
        "z": "69b35dfd3fbf48cb",
        "name": "Blue Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 240,
        "wires": []
    },
    {
        "id": "i3j4k5l6",
        "type": "debug",
        "z": "69b35dfd3fbf48cb",
        "name": "Other Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 300,
        "wires": []
    }
]