Hide-Show.txt
[
    {
        "id": "9396693c.371108",
        "type": "group",
        "z": "b250d290e5471f37",
        "name": "Hide_Show",
        "style": {
            "label": true
        },
        "nodes": [
            "2513685e.e0ae8",
            "e5a1a0e1.72b148",
            "28cf83f5.defee4",
            "dd218282.21d4",
            "e8cff46c.77d948",
            "b5e5829b.396ba8"
        ],
        "x": 34,
        "y": 139,
        "w": 812,
        "h": 182
    },
    {
        "id": "2513685e.e0ae8",
        "type": "ui_button",
        "z": "b250d290e5471f37",
        "g": "9396693c.371108",
        "name": "",
        "group": "aae80889.582428",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e5a1a0e1.72b148",
        "type": "ui_dropdown",
        "z": "b250d290e5471f37",
        "g": "9396693c.371108",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "8f3028ba.83089",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Show",
                "value": true,
                "type": "bool"
            },
            {
                "label": "Hide",
                "value": false,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "dd218282.21d4"
            ]
        ]
    },
    {
        "id": "28cf83f5.defee4",
        "type": "ui_ui_control",
        "z": "b250d290e5471f37",
        "g": "9396693c.371108",
        "name": "",
        "events": "all",
        "x": 760,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "dd218282.21d4",
        "type": "switch",
        "z": "b250d290e5471f37",
        "g": "9396693c.371108",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "e8cff46c.77d948"
            ],
            [
                "b5e5829b.396ba8"
            ]
        ]
    },
    {
        "id": "e8cff46c.77d948",
        "type": "change",
        "z": "b250d290e5471f37",
        "g": "9396693c.371108",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Hide_Show_Function\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 240,
        "wires": [
            [
                "28cf83f5.defee4"
            ]
        ]
    },
    {
        "id": "b5e5829b.396ba8",
        "type": "change",
        "z": "b250d290e5471f37",
        "g": "9396693c.371108",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"hide\":[\"Hide_Show_Function\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 280,
        "wires": [
            [
                "28cf83f5.defee4"
            ]
        ]
    },
    {
        "id": "aae80889.582428",
        "type": "ui_group",
        "name": "Function",
        "tab": "93384f10.9250e8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8f3028ba.83089",
        "type": "ui_group",
        "name": "Settings",
        "tab": "93384f10.9250e8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93384f10.9250e8",
        "type": "ui_tab",
        "name": "Hide_Show",
        "icon": "dashboard",
        "order": 10,
        "disabled": false,
        "hidden": false
    }
]