Resume Temp 2.txt
[
    {
        "id": "65a1f2a83623dd3e",
        "type": "http in",
        "z": "2a8a5f82be2c1059",
        "name": "Resume Request",
        "url": "/sandeep",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "8bd2ca52ee63818b"
            ]
        ]
    },
    {
        "id": "8bd2ca52ee63818b",
        "type": "function",
        "z": "2a8a5f82be2c1059",
        "name": "Prepare Resume Data",
        "func": "var name = \"Sandeep Joshi\";\nvar email = \"sjsandeep1711@gmail.com\";\nvar contactNo = \"8217565286\";\nvar skills = \"REACT JS, JAVASCRIPT, TYPESCRIPT, JQUERY, HTML, CSS, MICROSERVICES, SERVERLESS, EXPRESS JS, NODE JS, AWS CLOUD BASICS, RESTFULL WEB-SERVICES, JEST, MOCHA, CHAI\";\nvar experience = \"I have good knowledge on the above skills, I have worked around 6+ years in the IT industry\";\nvar qualification = \"MCA, RNSIT College Bangalore (VTU University) 2015\";\nvar address = \"#005, Siddhartha Solitaire, Beratena Agrahara, Doddanagamangala Rd, Bangalore 560100\";\nvar dob = \"17, November 1990\";\nvar gender = \"Male\";\nvar languages = \"English, Hindi, and Kannada\";\nvar nationality = \"Indian\";\nvar contactNoPersonal = \"9738060480\";\n\n\n\nmsg.payload = `<!DOCTYPE html>\n<!-- ✨ Built with Framer • https://www.framer.com/ -->\n<html>\n    <head>\n        <meta charset=\"utf-8\">\n        <!-- End of headStart -->\n        <meta name=\"viewport\" content=\"width=device-width\">\n        <meta name=\"generator\" content=\"Framer 93c7815\">\n        <title>Software Developer Resume</title>\n        <meta name=\"description\" content=\"Made with Framer\">\n        <meta name=\"framer-search-index\" content=\"https://framerusercontent.com/sites/2KtZ3xZ3hVt78b0TwcbX4z/searchIndex-ljyjgpk6.jr.json\">\n        <link rel=\"icon\" href=\"https://framerusercontent.com/sites/icons/default-favicon.v3.png\">\n        <!-- Open Graph / Facebook -->\n        <meta property=\"og:type\" content=\"website\">\n        <meta property=\"og:title\" content=\"Software Developer Resume\">\n        <meta property=\"og:description\" content=\"Made with Framer\">\n        <!-- Twitter -->\n        <meta name=\"twitter:card\" content=\"summary_large_image\">\n        <meta name=\"twitter:title\" content=\"Software Developer Resume\">\n        <meta name=\"twitter:description\" content=\"Made with Framer\">\n        <link href=\"https://fonts.gstatic.com\" rel=\"preconnect\" crossorigin=\"\">\n        <link rel=\"canonical\" href=\"https://visual-department-139072.framer.app/\">\n        <link rel=\"modulepreload\" href=\"https://framerusercontent.com/sites/2KtZ3xZ3hVt78b0TwcbX4z/chunk-FWEB7BIN.mjs\">\n        <link rel=\"modulepreload\" href=\"https://framerusercontent.com/sites/2KtZ3xZ3hVt78b0TwcbX4z/chunk-ELYU6EKT.mjs\">\n        <link rel=\"modulepreload\" href=\"https://framerusercontent.com/sites/2KtZ3xZ3hVt78b0TwcbX4z/uA_O7R0V5toM-2-d8aa7kD43l-TcKcNr1XiS1LkTGw4.CKRSIC7C.mjs\">\n        <link rel=\"modulepreload\" href=\"https://framerusercontent.com/sites/2KtZ3xZ3hVt78b0TwcbX4z/chunk-OYCRIPA5.mjs\">\n        <link rel=\"modulepreload\" href=\"https://framerusercontent.com/sites/2KtZ3xZ3hVt78b0TwcbX4z/chunk-42U43NKG.mjs\">\n        <link rel=\"modulepreload\" href=\"https://framerusercontent.com/sites/2KtZ3xZ3hVt78b0TwcbX4z/chunk-ZWXRM22A.mjs\">\n        <style data-framer-css-ssr-minified=\"\" data-framer-components=\"framer-MBBlR framer-xIUJb\">\n            html,body,#main {\n                height: 100%;\n                margin: 0;\n                padding: 0;\n                box-sizing: border-box\n            }\n\n            :root {\n                -webkit-font-smoothing: antialiased\n            }\n\n            * {\n                box-sizing: border-box;\n                -webkit-font-smoothing: inherit\n            }\n\n            h1,h2,h3,h4,h5,h6,p,figure {\n                margin: 0\n            }\n\n            body,input,textarea,select,button {\n                font-size: 12px;\n                font-family: sans-serif\n            }\n\n            #__framer-badge-container {\n                position: fixed;\n                bottom: 0;\n                padding: 20px;\n                width: 100%;\n                display: flex;\n                justify-content: right;\n                pointer-events: none;\n                z-index: 314159\n            }\n\n            .__framer-badge {\n                pointer-events: auto\n            }\n\n            @font-face {\n                font-family: Climate Crisis;\n                font-style: normal;\n                font-weight: 400;\n                src: url(https://fonts.gstatic.com/s/climatecrisis/v5/wEOpEB3AntNeKCPBVW9XOKlmp3AUgWFN1DvIvcM0gFpKhK8qKb4.woff2) format(\"woff2\");\n                unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-family: Climate Crisis;\n                font-style: normal;\n                font-weight: 400;\n                src: url(https://fonts.gstatic.com/s/climatecrisis/v5/wEOpEB3AntNeKCPBVW9XOKlmp3AUgWFN1DvIvcM0gFpKiq8q.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-family: Instrument Sans;\n                font-style: normal;\n                font-weight: 500;\n                font-stretch: 100%;\n                src: url(https://fonts.gstatic.com/s/instrumentsans/v1/pximypc9vsFDm051Uf6KVwgkfoSxQ0GsQv8ToedPibnr-yp2JGEJOH9npST3-Tf8kywf3w.woff2) format(\"woff2\");\n                unicode-range: U+0100-02AF,U+0304,U+0308,U+0329,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-family: Instrument Sans;\n                font-style: normal;\n                font-weight: 500;\n                font-stretch: 100%;\n                src: url(https://fonts.gstatic.com/s/instrumentsans/v1/pximypc9vsFDm051Uf6KVwgkfoSxQ0GsQv8ToedPibnr-yp2JGEJOH9npST3-Tfykyw.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-family: Instrument Sans Placeholder;\n                ascent-override:93.97%;descent-override:24.22%;line-gap-override:0%;size-adjust:103.22%;src: local(\"Arial\")\n            }\n\n            @font-face {\n                font-family: Inter Placeholder;\n                ascent-override:90%;descent-override:22.43%;line-gap-override:0%;size-adjust:107.64%;src: local(\"Arial\")\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 100;\n                src: url(https://app.framerstatic.com/Inter-Thin.cyrillic-ext-BHDA65O4.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 100;\n                src: url(https://app.framerstatic.com/Inter-Thin.cyrillic-Q5IXHU2O.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 100;\n                src: url(https://app.framerstatic.com/Inter-Thin.greek-ext-VVOQA2NE.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 100;\n                src: url(https://app.framerstatic.com/Inter-Thin.greek-E3WNEUH6.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 100;\n                src: url(https://app.framerstatic.com/Inter-Thin.latin-ext-5RC4NRHN.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 100;\n                src: url(https://app.framerstatic.com/Inter-Thin.latin-GJ7CRGHG.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 100;\n                src: url(https://app.framerstatic.com/Inter-Thin.vietnamese-Z3Y7DPWO.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 200;\n                src: url(https://app.framerstatic.com/Inter-ExtraLight.cyrillic-ext-7NWKXNAT.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 200;\n                src: url(https://app.framerstatic.com/Inter-ExtraLight.cyrillic-IBWUD6RJ.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 200;\n                src: url(https://app.framerstatic.com/Inter-ExtraLight.greek-ext-HUMDTRBU.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 200;\n                src: url(https://app.framerstatic.com/Inter-ExtraLight.greek-ZLLHEEN3.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 200;\n                src: url(https://app.framerstatic.com/Inter-ExtraLight.latin-ext-72JE5FGU.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 200;\n                src: url(https://app.framerstatic.com/Inter-ExtraLight.latin-2JHDAFAQ.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 200;\n                src: url(https://app.framerstatic.com/Inter-ExtraLight.vietnamese-VKRCA4VC.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 300;\n                src: url(https://app.framerstatic.com/Inter-Light.cyrillic-ext-G3OTPKE4.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 300;\n                src: url(https://app.framerstatic.com/Inter-Light.cyrillic-JO7ZJTP6.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 300;\n                src: url(https://app.framerstatic.com/Inter-Light.greek-ext-N63XCCK3.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 300;\n                src: url(https://app.framerstatic.com/Inter-Light.greek-5GVUXSXZ.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 300;\n                src: url(https://app.framerstatic.com/Inter-Light.latin-ext-RREJIMQ3.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 300;\n                src: url(https://app.framerstatic.com/Inter-Light.latin-EKF76FXR.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 300;\n                src: url(https://app.framerstatic.com/Inter-Light.vietnamese-GVC2UOFS.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 400;\n                src: url(https://app.framerstatic.com/Inter-Regular.cyrillic-ext-CFTLRB35.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 400;\n                src: url(https://app.framerstatic.com/Inter-Regular.cyrillic-KKLZBALH.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 400;\n                src: url(https://app.framerstatic.com/Inter-Regular.greek-ext-ULEBLIFV.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 400;\n                src: url(https://app.framerstatic.com/Inter-Regular.greek-IRHSNFQB.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 400;\n                src: url(https://app.framerstatic.com/Inter-Regular.latin-ext-VZDUGU3Q.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 400;\n                src: url(https://app.framerstatic.com/Inter-Regular.latin-JLQMKCHE.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 400;\n                src: url(https://app.framerstatic.com/Inter-Regular.vietnamese-QK7VSWXK.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 500;\n                src: url(https://app.framerstatic.com/Inter-Medium.cyrillic-ext-M4WHNGTS.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 500;\n                src: url(https://app.framerstatic.com/Inter-Medium.cyrillic-JVU2PANX.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 500;\n                src: url(https://app.framerstatic.com/Inter-Medium.greek-ext-4KCQBEIZ.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 500;\n                src: url(https://app.framerstatic.com/Inter-Medium.greek-DPOQGN7L.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 500;\n                src: url(https://app.framerstatic.com/Inter-Medium.latin-ext-J4DBSW7F.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 500;\n                src: url(https://app.framerstatic.com/Inter-Medium.latin-Y3IVPL46.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 500;\n                src: url(https://app.framerstatic.com/Inter-Medium.vietnamese-PJV76O4P.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 600;\n                src: url(https://app.framerstatic.com/Inter-SemiBold.cyrillic-ext-C7KWUKA7.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 600;\n                src: url(https://app.framerstatic.com/Inter-SemiBold.cyrillic-JWV7SOZ6.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 600;\n                src: url(https://app.framerstatic.com/Inter-SemiBold.greek-ext-FBKSFTSU.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 600;\n                src: url(https://app.framerstatic.com/Inter-SemiBold.greek-EQ3PSENU.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 600;\n                src: url(https://app.framerstatic.com/Inter-SemiBold.latin-ext-ULRSO3ZR.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 600;\n                src: url(https://app.framerstatic.com/Inter-SemiBold.latin-RDYY2AG2.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 600;\n                src: url(https://app.framerstatic.com/Inter-SemiBold.vietnamese-ESQNSEQ3.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 700;\n                src: url(https://app.framerstatic.com/Inter-Bold.cyrillic-ext-XOTVL7ZR.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 700;\n                src: url(https://app.framerstatic.com/Inter-Bold.cyrillic-6LOMBC2V.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 700;\n                src: url(https://app.framerstatic.com/Inter-Bold.greek-ext-WXWSJXLB.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 700;\n                src: url(https://app.framerstatic.com/Inter-Bold.greek-YRST7ODZ.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 700;\n                src: url(https://app.framerstatic.com/Inter-Bold.latin-ext-BASA5UL3.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 700;\n                src: url(https://app.framerstatic.com/Inter-Bold.latin-UCM45LQF.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 700;\n                src: url(https://app.framerstatic.com/Inter-Bold.vietnamese-OEVJMXEP.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 800;\n                src: url(https://app.framerstatic.com/Inter-ExtraBold.cyrillic-ext-7Q6SVIPE.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 800;\n                src: url(https://app.framerstatic.com/Inter-ExtraBold.cyrillic-JSLPE6KW.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 800;\n                src: url(https://app.framerstatic.com/Inter-ExtraBold.greek-ext-6OYGJJV7.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 800;\n                src: url(https://app.framerstatic.com/Inter-ExtraBold.greek-SHW2FPC4.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 800;\n                src: url(https://app.framerstatic.com/Inter-ExtraBold.latin-ext-A5DUFOP6.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 800;\n                src: url(https://app.framerstatic.com/Inter-ExtraBold.latin-OW4UGSRU.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 800;\n                src: url(https://app.framerstatic.com/Inter-ExtraBold.vietnamese-IBBC7NGV.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 900;\n                src: url(https://app.framerstatic.com/Inter-Black.cyrillic-ext-TU4ITVTR.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 900;\n                src: url(https://app.framerstatic.com/Inter-Black.cyrillic-JX7CGTYD.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 900;\n                src: url(https://app.framerstatic.com/Inter-Black.greek-ext-LS3GCBFI.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 900;\n                src: url(https://app.framerstatic.com/Inter-Black.greek-ZWCJHBP5.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 900;\n                src: url(https://app.framerstatic.com/Inter-Black.latin-ext-BZLEUMX6.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 900;\n                src: url(https://app.framerstatic.com/Inter-Black.latin-TETRYDF7.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: normal;\n                font-weight: 900;\n                src: url(https://app.framerstatic.com/Inter-Black.vietnamese-RXQCC3EJ.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 100;\n                src: url(https://app.framerstatic.com/Inter-ThinItalic.cyrillic-ext-2RGKWUBV.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 100;\n                src: url(https://app.framerstatic.com/Inter-ThinItalic.cyrillic-TDYIP5HV.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 100;\n                src: url(https://app.framerstatic.com/Inter-ThinItalic.greek-ext-WR4TIDYZ.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 100;\n                src: url(https://app.framerstatic.com/Inter-ThinItalic.greek-V3WZMSP7.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 100;\n                src: url(https://app.framerstatic.com/Inter-ThinItalic.latin-ext-TXFTJONQ.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 100;\n                src: url(https://app.framerstatic.com/Inter-ThinItalic.latin-RVEBKP6O.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 100;\n                src: url(https://app.framerstatic.com/Inter-ThinItalic.vietnamese-WCBPP4MD.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 200;\n                src: url(https://app.framerstatic.com/Inter-ExtraLightItalic.cyrillic-ext-OVCHMVPD.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 200;\n                src: url(https://app.framerstatic.com/Inter-ExtraLightItalic.cyrillic-BRDZE5UH.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 200;\n                src: url(https://app.framerstatic.com/Inter-ExtraLightItalic.greek-ext-YV64YFFH.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 200;\n                src: url(https://app.framerstatic.com/Inter-ExtraLightItalic.greek-EJVCLASM.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 200;\n                src: url(https://app.framerstatic.com/Inter-ExtraLightItalic.latin-ext-2MHTM56A.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 200;\n                src: url(https://app.framerstatic.com/Inter-ExtraLightItalic.latin-JB3CJMMM.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 200;\n                src: url(https://app.framerstatic.com/Inter-ExtraLightItalic.vietnamese-3EJ3IQYS.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 300;\n                src: url(https://app.framerstatic.com/Inter-LightItalic.cyrillic-ext-C2S5XS3D.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 300;\n                src: url(https://app.framerstatic.com/Inter-LightItalic.cyrillic-E7CYPW5D.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 300;\n                src: url(https://app.framerstatic.com/Inter-LightItalic.greek-ext-ROSAFPGE.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 300;\n                src: url(https://app.framerstatic.com/Inter-LightItalic.greek-PAWWH37Z.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 300;\n                src: url(https://app.framerstatic.com/Inter-LightItalic.latin-ext-N2Z67Z45.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 300;\n                src: url(https://app.framerstatic.com/Inter-LightItalic.latin-SLSTLWEU.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 300;\n                src: url(https://app.framerstatic.com/Inter-LightItalic.vietnamese-RLGM2D3Y.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 400;\n                src: url(https://app.framerstatic.com/Inter-Italic.cyrillic-ext-YDGMJOJO.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 400;\n                src: url(https://app.framerstatic.com/Inter-Italic.cyrillic-BFOVMAQB.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 400;\n                src: url(https://app.framerstatic.com/Inter-Italic.greek-ext-4KOU3AHC.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 400;\n                src: url(https://app.framerstatic.com/Inter-Italic.greek-OJTBJNE6.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 400;\n                src: url(https://app.framerstatic.com/Inter-Italic.latin-ext-H4B22QN6.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 400;\n                src: url(https://app.framerstatic.com/Inter-Italic.latin-2DWX32EN.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 400;\n                src: url(https://app.framerstatic.com/Inter-Italic.vietnamese-TYMT6CKW.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 500;\n                src: url(https://app.framerstatic.com/Inter-MediumItalic.cyrillic-ext-QYBZQ2NF.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 500;\n                src: url(https://app.framerstatic.com/Inter-MediumItalic.cyrillic-ZHAJHZCC.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 500;\n                src: url(https://app.framerstatic.com/Inter-MediumItalic.greek-ext-W5ABYGZR.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 500;\n                src: url(https://app.framerstatic.com/Inter-MediumItalic.greek-RGNSYVNV.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 500;\n                src: url(https://app.framerstatic.com/Inter-MediumItalic.latin-ext-7DZEPSAS.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 500;\n                src: url(https://app.framerstatic.com/Inter-MediumItalic.latin-SKPQAMBJ.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 500;\n                src: url(https://app.framerstatic.com/Inter-MediumItalic.vietnamese-23WIFZV7.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 600;\n                src: url(https://app.framerstatic.com/Inter-SemiBoldItalic.cyrillic-ext-MEHHCDC3.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 600;\n                src: url(https://app.framerstatic.com/Inter-SemiBoldItalic.cyrillic-YACNRNDE.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 600;\n                src: url(https://app.framerstatic.com/Inter-SemiBoldItalic.greek-ext-GFL7KADI.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 600;\n                src: url(https://app.framerstatic.com/Inter-SemiBoldItalic.greek-5W77OPRT.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 600;\n                src: url(https://app.framerstatic.com/Inter-SemiBoldItalic.latin-ext-OYJJ2W6R.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 600;\n                src: url(https://app.framerstatic.com/Inter-SemiBoldItalic.latin-KBLJMBDH.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 600;\n                src: url(https://app.framerstatic.com/Inter-SemiBoldItalic.vietnamese-5ZFOV65G.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 700;\n                src: url(https://app.framerstatic.com/Inter-BoldItalic.cyrillic-ext-PEYDHC3S.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 700;\n                src: url(https://app.framerstatic.com/Inter-BoldItalic.cyrillic-7EIL6JWG.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 700;\n                src: url(https://app.framerstatic.com/Inter-BoldItalic.greek-ext-3DJOYQMH.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 700;\n                src: url(https://app.framerstatic.com/Inter-BoldItalic.greek-TJBTLTT7.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 700;\n                src: url(https://app.framerstatic.com/Inter-BoldItalic.latin-ext-FVPCPRBJ.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 700;\n                src: url(https://app.framerstatic.com/Inter-BoldItalic.latin-5ZFQS4XK.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: swap;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 700;\n                src: url(https://app.framerstatic.com/Inter-BoldItalic.vietnamese-W2625PGF.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 800;\n                src: url(https://app.framerstatic.com/Inter-ExtraBoldItalic.cyrillic-ext-ACWDZ3VD.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 800;\n                src: url(https://app.framerstatic.com/Inter-ExtraBoldItalic.cyrillic-ZKBSDAI2.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 800;\n                src: url(https://app.framerstatic.com/Inter-ExtraBoldItalic.greek-ext-3CY5DPTP.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 800;\n                src: url(https://app.framerstatic.com/Inter-ExtraBoldItalic.greek-YL5CC63W.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 800;\n                src: url(https://app.framerstatic.com/Inter-ExtraBoldItalic.latin-ext-7IZFJI4D.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 800;\n                src: url(https://app.framerstatic.com/Inter-ExtraBoldItalic.latin-O5HH4IX3.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 800;\n                src: url(https://app.framerstatic.com/Inter-ExtraBoldItalic.vietnamese-UW3XUJOD.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 900;\n                src: url(https://app.framerstatic.com/Inter-BlackItalic.cyrillic-ext-TRM4ITYR.woff2) format(\"woff2\");\n                unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 900;\n                src: url(https://app.framerstatic.com/Inter-BlackItalic.cyrillic-FPHIQVZS.woff2) format(\"woff2\");\n                unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 900;\n                src: url(https://app.framerstatic.com/Inter-BlackItalic.greek-ext-JTGUUSP5.woff2) format(\"woff2\");\n                unicode-range: U+1F00-1FFF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 900;\n                src: url(https://app.framerstatic.com/Inter-BlackItalic.greek-LUNA3RFO.woff2) format(\"woff2\");\n                unicode-range: U+0370-03FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 900;\n                src: url(https://app.framerstatic.com/Inter-BlackItalic.latin-ext-KU7ICFYH.woff2) format(\"woff2\");\n                unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 900;\n                src: url(https://app.framerstatic.com/Inter-BlackItalic.latin-FRVXWQSB.woff2) format(\"woff2\");\n                unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD\n            }\n\n            @font-face {\n                font-display: block;\n                font-family: Inter;\n                font-style: italic;\n                font-weight: 900;\n                src: url(https://app.framerstatic.com/Inter-BlackItalic.vietnamese-2Q7MQKJX.woff2) format(\"woff2\");\n                unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB\n            }\n\n            [data-framer-component-type] {\n                position: absolute\n            }\n\n            [data-framer-component-type=Text] {\n                cursor: inherit\n            }\n\n            [data-framer-component-text-autosized] * {\n                white-space: pre\n            }\n\n            [data-framer-component-type=Text]>* {\n                text-align: var(--framer-text-alignment, start)\n            }\n\n            [data-framer-component-type=Text] span span,[data-framer-component-type=Text] p span,[data-framer-component-type=Text] h1 span,[data-framer-component-type=Text] h2 span,[data-framer-component-type=Text] h3 span,[data-framer-component-type=Text] h4 span,[data-framer-component-type=Text] h5 span,[data-framer-component-type=Text] h6 span {\n                display: block\n            }\n\n            [data-framer-component-type=Text] span span span,[data-framer-component-type=Text] p span span,[data-framer-component-type=Text] h1 span span,[data-framer-component-type=Text] h2 span span,[data-framer-component-type=Text] h3 span span,[data-framer-component-type=Text] h4 span span,[data-framer-component-type=Text] h5 span span,[data-framer-component-type=Text] h6 span span {\n                display: unset\n            }\n\n            [data-framer-component-type=Text] div div span,[data-framer-component-type=Text] a div span,[data-framer-component-type=Text] span span span,[data-framer-component-type=Text] p span span,[data-framer-component-type=Text] h1 span span,[data-framer-component-type=Text] h2 span span,[data-framer-component-type=Text] h3 span span,[data-framer-component-type=Text] h4 span span,[data-framer-component-type=Text] h5 span span,[data-framer-component-type=Text] h6 span span,[data-framer-component-type=Text] a {\n                font-family: var(--font-family);\n                font-style: var(--font-style);\n                font-weight: min(calc(var(--framer-font-weight-increase, 0) + var(--font-weight, 400)),900);\n                color: var(--text-color);\n                letter-spacing: var(--letter-spacing);\n                font-size: var(--font-size);\n                text-transform: var(--text-transform);\n                text-decoration: var(--text-decoration);\n                line-height: var(--line-height)\n            }\n\n            [data-framer-component-type=Text] div div span,[data-framer-component-type=Text] a div span,[data-framer-component-type=Text] span span span,[data-framer-component-type=Text] p span span,[data-framer-component-type=Text] h1 span span,[data-framer-component-type=Text] h2 span span,[data-framer-component-type=Text] h3 span span,[data-framer-component-type=Text] h4 span span,[data-framer-component-type=Text] h5 span span,[data-framer-component-type=Text] h6 span span,[data-framer-component-type=Text] a {\n                --font-family: var(--framer-font-family);\n                --font-style: var(--framer-font-style);\n                --font-weight: var(--framer-font-weight);\n                --text-color: var(--framer-text-color);\n                --letter-spacing: var(--framer-letter-spacing);\n                --font-size: var(--framer-font-size);\n                --text-transform: var(--framer-text-transform);\n                --text-decoration: var(--framer-text-decoration);\n                --line-height: var(--framer-line-height)\n            }\n\n            [data-framer-component-type=Text] a,[data-framer-component-type=Text] a div span,[data-framer-component-type=Text] a span span span,[data-framer-component-type=Text] a p span span,[data-framer-component-type=Text] a h1 span span,[data-framer-component-type=Text] a h2 span span,[data-framer-component-type=Text] a h3 span span,[data-framer-component-type=Text] a h4 span span,[data-framer-component-type=Text] a h5 span span,[data-framer-component-type=Text] a h6 span span {\n                --font-family: var(--framer-link-font-family, var(--framer-font-family));\n                --font-style: var(--framer-link-font-style, var(--framer-font-style));\n                --font-weight: var(--framer-link-font-weight, var(--framer-font-weight));\n                --text-color: var(--framer-link-text-color, var(--framer-text-color));\n                --font-size: var(--framer-link-font-size, var(--framer-font-size));\n                --text-transform: var(--framer-link-text-transform, var(--framer-text-transform));\n                --text-decoration: var(--framer-link-text-decoration, var(--framer-text-decoration))\n            }\n\n            [data-framer-component-type=Text] a:hover,[data-framer-component-type=Text] a div span:hover,[data-framer-component-type=Text] a span span span:hover,[data-framer-component-type=Text] a p span span:hover,[data-framer-component-type=Text] a h1 span span:hover,[data-framer-component-type=Text] a h2 span span:hover,[data-framer-component-type=Text] a h3 span span:hover,[data-framer-component-type=Text] a h4 span span:hover,[data-framer-component-type=Text] a h5 span span:hover,[data-framer-component-type=Text] a h6 span span:hover {\n                --font-family: var(--framer-link-hover-font-family, var(--framer-link-font-family, var(--framer-font-family)));\n                --font-style: var(--framer-link-hover-font-style, var(--framer-link-font-style, var(--framer-font-style)));\n                --font-weight: var(--framer-link-hover-font-weight, var(--framer-link-font-weight, var(--framer-font-weight)));\n                --text-color: var(--framer-link-hover-text-color, var(--framer-link-text-color, var(--framer-text-color)));\n                --font-size: var(--framer-link-hover-font-size, var(--framer-link-font-size, var(--framer-font-size)));\n                --text-transform: var(--framer-link-hover-text-transform, var(--framer-link-text-transform, var(--framer-text-transform)));\n                --text-decoration: var(--framer-link-hover-text-decoration, var(--framer-link-text-decoration, var(--framer-text-decoration)))\n            }\n\n            [data-framer-component-type=Text].isCurrent a,[data-framer-component-type=Text].isCurrent a div span,[data-framer-component-type=Text].isCurrent a span span span,[data-framer-component-type=Text].isCurrent a p span span,[data-framer-component-type=Text].isCurrent a h1 span span,[data-framer-component-type=Text].isCurrent a h2 span span,[data-framer-component-type=Text].isCurrent a h3 span span,[data-framer-component-type=Text].isCurrent a h4 span span,[data-framer-component-type=Text].isCurrent a h5 span span,[data-framer-component-type=Text].isCurrent a h6 span span {\n                --font-family: var(--framer-link-current-font-family, var(--framer-link-font-family, var(--framer-font-family)));\n                --font-style: var(--framer-link-current-font-style, var(--framer-link-font-style, var(--framer-font-style)));\n                --font-weight: var(--framer-link-current-font-weight, var(--framer-link-font-weight, var(--framer-font-weight)));\n                --text-color: var(--framer-link-current-text-color, var(--framer-link-text-color, var(--framer-text-color)));\n                --font-size: var(--framer-link-current-font-size, var(--framer-link-font-size, var(--framer-font-size)));\n                --text-transform: var(--framer-link-current-text-transform, var(--framer-link-text-transform, var(--framer-text-transform)));\n                --text-decoration: var(--framer-link-current-text-decoration, var(--framer-link-text-decoration, var(--framer-text-decoration)))\n            }\n\n            p.framer-text,div.framer-text,h1.framer-text,h2.framer-text,h3.framer-text,h4.framer-text,h5.framer-text,h6.framer-text,ol.framer-text,ul.framer-text {\n                margin: 0;\n                padding: 0\n            }\n\n            p.framer-text,div.framer-text,h1.framer-text,h2.framer-text,h3.framer-text,h4.framer-text,h5.framer-text,h6.framer-text,li.framer-text,ol.framer-text,ul.framer-text,span.framer-text:not([data-text-fill]) {\n                font-family: var(--framer-font-family, Inter, Inter Placeholder, sans-serif);\n                font-style: var(--framer-font-style, normal);\n                font-weight: var(--framer-font-weight, 400);\n                color: var(--framer-text-color, #000);\n                font-size: calc(var(--framer-font-size, 16px) * var(--framer-font-size-scale, 1));\n                letter-spacing: var(--framer-letter-spacing, 0);\n                text-transform: var(--framer-text-transform, none);\n                text-decoration: var(--framer-text-decoration, none);\n                line-height: var(--framer-line-height, 1.2em);\n                text-align: var(--framer-text-alignment, start)\n            }\n\n            strong.framer-text {\n                font-weight: bolder\n            }\n\n            em.framer-text {\n                font-style: italic\n            }\n\n            p.framer-text:not(:first-child),div.framer-text:not(:first-child),h1.framer-text:not(:first-child),h2.framer-text:not(:first-child),h3.framer-text:not(:first-child),h4.framer-text:not(:first-child),h5.framer-text:not(:first-child),h6.framer-text:not(:first-child),ol.framer-text:not(:first-child),ul.framer-text:not(:first-child),.framer-image.framer-text:not(:first-child) {\n                margin-top: var(--framer-paragraph-spacing, 0)\n            }\n\n            li.framer-text>ul.framer-text:nth-child(2),li.framer-text>ol.framer-text:nth-child(2) {\n                margin-top: 0\n            }\n\n            .framer-text[data-text-fill] {\n                display: inline-block;\n                background-clip: text;\n                -webkit-background-clip: text;\n                -webkit-text-fill-color: transparent;\n                padding: max(0em,calc(calc(1.3em - var(--framer-line-height, 1.3em)) / 2));\n                margin: min(0em,calc(calc(1.3em - var(--framer-line-height, 1.3em)) / -2))\n            }\n\n            code.framer-text,code.framer-text span.framer-text:not([data-text-fill]) {\n                font-family: var(--framer-code-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif));\n                font-style: var(--framer-code-font-style, var(--framer-font-style, normal));\n                font-weight: var(--framer-code-font-weight, var(--framer-font-weight, 400));\n                color: var(--framer-code-text-color, var(--framer-text-color, #000));\n                font-size: calc(var(--framer-font-size, 16px) * var(--framer-font-size-scale, 1));\n                letter-spacing: var(--framer-letter-spacing, 0);\n                line-height: var(--framer-line-height, 1.2em)\n            }\n\n            a.framer-text,a.framer-text span.framer-text:not([data-text-fill]) {\n                font-family: var(--framer-link-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif));\n                font-style: var(--framer-link-font-style, var(--framer-font-style, normal));\n                font-weight: var(--framer-link-font-weight, var(--framer-font-weight, 400));\n                color: var(--framer-link-text-color, var(--framer-text-color, #000));\n                font-size: calc(var(--framer-link-font-size, var(--framer-font-size, 16px)) * var(--framer-font-size-scale, 1));\n                text-transform: var(--framer-link-text-transform, var(--framer-text-transform, none));\n                text-decoration: var(--framer-link-text-decoration, var(--framer-text-decoration, none));\n                cursor: var(--framer-custom-cursors, pointer)\n            }\n\n            code.framer-text a.framer-text,code.framer-text a.framer-text span.framer-text:not([data-text-fill]) {\n                font-family: var(--framer-code-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif));\n                font-style: var(--framer-code-font-style, var(--framer-font-style, normal));\n                font-weight: var(--framer-code-font-weight, var(--framer-font-weight, 400));\n                color: var(--framer-link-text-color, var(--framer-code-text-color, var(--framer-text-color, #000)));\n                font-size: calc(var(--framer-link-font-size, var(--framer-font-size, 16px)) * var(--framer-font-size-scale, 1))\n            }\n\n            a.framer-text:hover,a.framer-text:hover span.framer-text:not([data-text-fill]) {\n                font-family: var(--framer-link-hover-font-family, var(--framer-link-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif)));\n                font-style: var(--framer-link-hover-font-style, var(--framer-link-font-style, var(--framer-font-style, normal)));\n                font-weight: var(--framer-link-hover-font-weight, var(--framer-link-font-weight, var(--framer-font-weight, 400)));\n                color: var(--framer-link-hover-text-color, var(--framer-link-text-color, var(--framer-text-color, #000)));\n                font-size: calc(var(--framer-link-hover-font-size, var(--framer-link-font-size, var(--framer-font-size, 16px))) * var(--framer-font-size-scale, 1));\n                text-transform: var(--framer-link-hover-text-transform, var(--framer-link-text-transform, var(--framer-text-transform, none)));\n                text-decoration: var(--framer-link-hover-text-decoration, var(--framer-link-text-decoration, var(--framer-text-decoration, none)))\n            }\n\n            code.framer-text a.framer-text:hover,code.framer-text a.framer-text:hover span.framer-text:not([data-text-fill]) {\n                font-family: var(--framer-code-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif));\n                font-style: var(--framer-code-font-style, var(--framer-font-style, normal));\n                font-weight: var(--framer-code-font-weight, var(--framer-font-weight, 400));\n                color: var(--framer-link-hover-text-color, var(--framer-link-text-color, var(--framer-code-text-color, var(--framer-text-color, #000))));\n                font-size: calc(var(--framer-link-hover-font-size, var(--framer-link-font-size, var(--framer-font-size, 16px))) * var(--framer-font-size-scale, 1))\n            }\n\n            a.framer-text[data-framer-page-link-current],a.framer-text[data-framer-page-link-current] span.framer-text:not([data-text-fill]) {\n                font-family: var(--framer-link-current-font-family, var(--framer-link-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif)));\n                font-style: var(--framer-link-current-font-style, var(--framer-link-font-style, var(--framer-font-style, normal)));\n                font-weight: var(--framer-link-current-font-weight, var(--framer-link-font-weight, var(--framer-font-weight, 400)));\n                color: var(--framer-link-current-text-color, var(--framer-link-text-color, var(--framer-text-color, #000)));\n                font-size: calc(var(--framer-link-current-font-size, var(--framer-link-font-size, var(--framer-font-size, 16px))) * var(--framer-font-size-scale, 1));\n                text-transform: var(--framer-link-current-text-transform, var(--framer-link-text-transform, var(--framer-text-transform, none)));\n                text-decoration: var(--framer-link-current-text-decoration, var(--framer-link-text-decoration, var(--framer-text-decoration, none)))\n            }\n\n            code.framer-text a.framer-text[data-framer-page-link-current],code.framer-text a.framer-text[data-framer-page-link-current] span.framer-text:not([data-text-fill]) {\n                font-family: var(--framer-code-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif));\n                font-style: var(--framer-code-font-style, var(--framer-font-style, normal));\n                font-weight: var(--framer-code-font-weight, var(--framer-font-weight, 400));\n                color: var(--framer-link-current-text-color, var(--framer-link-text-color, var(--framer-code-text-color, var(--framer-text-color, #000))));\n                font-size: calc(var(--framer-link-current-font-size, var(--framer-link-font-size, var(--framer-font-size, 16px))) * var(--framer-font-size-scale, 1))\n            }\n\n            a.framer-text[data-framer-page-link-current]:hover,a.framer-text[data-framer-page-link-current]:hover span.framer-text:not([data-text-fill]) {\n                font-family: var(--framer-link-hover-font-family, var(--framer-link-current-font-family, var(--framer-link-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif))));\n                font-style: var(--framer-link-hover-font-style, var(--framer-link-current-font-style, var(--framer-link-font-style, var(--framer-font-style, normal))));\n                font-weight: var(--framer-link-hover-font-weight, var(--framer-link-current-font-weight, var(--framer-link-font-weight, var(--framer-font-weight, 400))));\n                color: var(--framer-link-hover-text-color, var(--framer-link-current-text-color, var(--framer-link-text-color, var(--framer-text-color, #000))));\n                font-size: calc(var(--framer-link-hover-font-size, var(--framer-link-current-font-size, var(--framer-link-font-size, var(--framer-font-size, 16px)))) * var(--framer-font-size-scale, 1));\n                text-transform: var(--framer-link-hover-text-transform, var(--framer-link-current-text-transform, var(--framer-link-text-transform, var(--framer-text-transform, none))));\n                text-decoration: var(--framer-link-hover-text-decoration, var(--framer-link-current-text-decoration, var(--framer-link-text-decoration, var(--framer-text-decoration, none))))\n            }\n\n            code.framer-text a.framer-text[data-framer-page-link-current]:hover,code.framer-text a.framer-text[data-framer-page-link-current]:hover span.framer-text:not([data-text-fill]) {\n                font-family: var(--framer-code-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif));\n                font-style: var(--framer-code-font-style, var(--framer-font-style, normal));\n                font-weight: var(--framer-code-font-weight, var(--framer-font-weight, 400));\n                color: var(--framer-link-hover-text-color, var(--framer-link-current-text-color, var(--framer-link-text-color, var(--framer-code-text-color, var(--framer-text-color, #000)))));\n                font-size: calc(var(--framer-link-hover-font-size, var(--framer-link-current-font-size, var(--framer-link-font-size, var(--framer-font-size, 16px)))) * var(--framer-font-size-scale, 1))\n            }\n\n            .framer-image.framer-text {\n                display: block;\n                max-width: 100%;\n                height: auto\n            }\n\n            .text-styles-preset-reset.framer-text {\n                --framer-font-family: Inter, Inter Placeholder, sans-serif;\n                --framer-font-style: normal;\n                --framer-font-weight: 500;\n                --framer-text-color: #000;\n                --framer-font-size: 16px;\n                --framer-letter-spacing: 0;\n                --framer-text-transform: none;\n                --framer-text-decoration: none;\n                --framer-line-height: 1.2em;\n                --framer-text-alignment: start\n            }\n\n            ul.framer-text,ol.framer-text {\n                display: table;\n                width: 100%\n            }\n\n            li.framer-text {\n                display: table-row;\n                counter-increment: list-item;\n                list-style: none\n            }\n\n            ol.framer-text>li.framer-text:before {\n                display: table-cell;\n                width: 2.25ch;\n                box-sizing: border-box;\n                padding-inline-end:.75ch;content: counter(list-item) \".\";\n                white-space: nowrap\n            }\n\n            ul.framer-text>li.framer-text:before {\n                display: table-cell;\n                width: 2.25ch;\n                box-sizing: border-box;\n                \n            }\n\n            .framer-text-module[style*=aspect-ratio]>:first-child {\n                width: 100%\n            }\n\n            @supports not (aspect-ratio: 1) {\n                .framer-text-module[style*=aspect-ratio] {\n                    position:relative\n                }\n            }\n\n            @supports not (aspect-ratio: 1) {\n                .framer-text-module[style*=aspect-ratio]:before {\n                    content:\"\";\n                    display: block;\n                    padding-bottom: calc(100% / calc(var(--aspect-ratio)))\n                }\n            }\n\n            @supports not (aspect-ratio: 1) {\n                .framer-text-module[style*=aspect-ratio]>:first-child {\n                    position:absolute;\n                    top: 0;\n                    left: 0;\n                    height: 100%\n                }\n            }\n\n            [data-framer-component-type=DeprecatedRichText] {\n                cursor: inherit\n            }\n\n            [data-framer-component-type=DeprecatedRichText] .text-styles-preset-reset {\n                --framer-font-family: Inter, Inter Placeholder, sans-serif;\n                --framer-font-style: normal;\n                --framer-font-weight: 500;\n                --framer-text-color: #000;\n                --framer-font-size: 16px;\n                --framer-letter-spacing: 0;\n                --framer-text-transform: none;\n                --framer-text-decoration: none;\n                --framer-line-height: 1.2em;\n                --framer-text-alignment: start\n            }\n\n            [data-framer-component-type=DeprecatedRichText] p,[data-framer-component-type=DeprecatedRichText] div,[data-framer-component-type=DeprecatedRichText] h1,[data-framer-component-type=DeprecatedRichText] h2,[data-framer-component-type=DeprecatedRichText] h3,[data-framer-component-type=DeprecatedRichText] h4,[data-framer-component-type=DeprecatedRichText] h5,[data-framer-component-type=DeprecatedRichText] h6 {\n                margin: 0;\n                padding: 0\n            }\n\n            [data-framer-component-type=DeprecatedRichText] p,[data-framer-component-type=DeprecatedRichText] div,[data-framer-component-type=DeprecatedRichText] h1,[data-framer-component-type=DeprecatedRichText] h2,[data-framer-component-type=DeprecatedRichText] h3,[data-framer-component-type=DeprecatedRichText] h4,[data-framer-component-type=DeprecatedRichText] h5,[data-framer-component-type=DeprecatedRichText] h6,[data-framer-component-type=DeprecatedRichText] li,[data-framer-component-type=DeprecatedRichText] ol,[data-framer-component-type=DeprecatedRichText] ul,[data-framer-component-type=DeprecatedRichText] span:not([data-text-fill]) {\n                font-family: var(--framer-font-family, Inter, Inter Placeholder, sans-serif);\n                font-style: var(--framer-font-style, normal);\n                font-weight: var(--framer-font-weight, 400);\n                color: var(--framer-text-color, #000);\n                font-size: var(--framer-font-size, 16px);\n                letter-spacing: var(--framer-letter-spacing, 0);\n                text-transform: var(--framer-text-transform, none);\n                text-decoration: var(--framer-text-decoration, none);\n                line-height: var(--framer-line-height, 1.2em);\n                text-align: var(--framer-text-alignment, start)\n            }\n\n            [data-framer-component-type=DeprecatedRichText] p:not(:first-child),[data-framer-component-type=DeprecatedRichText] div:not(:first-child),[data-framer-component-type=DeprecatedRichText] h1:not(:first-child),[data-framer-component-type=DeprecatedRichText] h2:not(:first-child),[data-framer-component-type=DeprecatedRichText] h3:not(:first-child),[data-framer-component-type=DeprecatedRichText] h4:not(:first-child),[data-framer-component-type=DeprecatedRichText] h5:not(:first-child),[data-framer-component-type=DeprecatedRichText] h6:not(:first-child),[data-framer-component-type=DeprecatedRichText] ol:not(:first-child),[data-framer-component-type=DeprecatedRichText] ul:not(:first-child),[data-framer-component-type=DeprecatedRichText] .framer-image:not(:first-child) {\n                margin-top: var(--framer-paragraph-spacing, 0)\n            }\n\n            [data-framer-component-type=DeprecatedRichText] span[data-text-fill] {\n                display: inline-block;\n                background-clip: text;\n                -webkit-background-clip: text;\n                -webkit-text-fill-color: transparent\n            }\n\n            [data-framer-component-type=DeprecatedRichText] a,[data-framer-component-type=DeprecatedRichText] a span:not([data-text-fill]) {\n                font-family: var(--framer-link-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif));\n                font-style: var(--framer-link-font-style, var(--framer-font-style, normal));\n                font-weight: var(--framer-link-font-weight, var(--framer-font-weight, 400));\n                color: var(--framer-link-text-color, var(--framer-text-color, #000));\n                font-size: var(--framer-link-font-size, var(--framer-font-size, 16px));\n                text-transform: var(--framer-link-text-transform, var(--framer-text-transform, none));\n                text-decoration: var(--framer-link-text-decoration, var(--framer-text-decoration, none))\n            }\n\n            [data-framer-component-type=DeprecatedRichText] a:hover,[data-framer-component-type=DeprecatedRichText] a:hover span:not([data-text-fill]) {\n                font-family: var(--framer-link-hover-font-family, var(--framer-link-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif)));\n                font-style: var(--framer-link-hover-font-style, var(--framer-link-font-style, var(--framer-font-style, normal)));\n                font-weight: var(--framer-link-hover-font-weight, var(--framer-link-font-weight, var(--framer-font-weight, 400)));\n                color: var(--framer-link-hover-text-color, var(--framer-link-text-color, var(--framer-text-color, #000)));\n                font-size: var(--framer-link-hover-font-size, var(--framer-link-font-size, var(--framer-font-size, 16px)));\n                text-transform: var(--framer-link-hover-text-transform, var(--framer-link-text-transform, var(--framer-text-transform, none)));\n                text-decoration: var(--framer-link-hover-text-decoration, var(--framer-link-text-decoration, var(--framer-text-decoration, none)))\n            }\n\n            a[data-framer-page-link-current],a[data-framer-page-link-current] span:not([data-text-fill]) {\n                font-family: var(--framer-link-current-font-family, var(--framer-link-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif)));\n                font-style: var(--framer-link-current-font-style, var(--framer-link-font-style, var(--framer-font-style, normal)));\n                font-weight: var(--framer-link-current-font-weight, var(--framer-link-font-weight, var(--framer-font-weight, 400)));\n                color: var(--framer-link-current-text-color, var(--framer-link-text-color, var(--framer-text-color, #000)));\n                font-size: var(--framer-link-current-font-size, var(--framer-link-font-size, var(--framer-font-size, 16px)));\n                text-transform: var(--framer-link-current-text-transform, var(--framer-link-text-transform, var(--framer-text-transform, none)));\n                text-decoration: var(--framer-link-current-text-decoration, var(--framer-link-text-decoration, var(--framer-text-decoration, none)))\n            }\n\n            a[data-framer-page-link-current]:hover,a[data-framer-page-link-current]:hover span:not([data-text-fill]) {\n                font-family: var(--framer-link-hover-font-family, var(--framer-link-current-font-family, var(--framer-link-font-family, var(--framer-font-family, Inter, Inter Placeholder, sans-serif))));\n                font-style: var(--framer-link-hover-font-style, var(--framer-link-current-font-style, var(--framer-link-font-style, var(--framer-font-style, normal))));\n                font-weight: var(--framer-link-hover-font-weight, var(--framer-link-current-font-weight, var(--framer-link-font-weight, var(--framer-font-weight, 400))));\n                color: var(--framer-link-hover-text-color, var(--framer-link-current-text-color, var(--framer-link-text-color, var(--framer-text-color, #000))));\n                font-size: var(--framer-link-hover-font-size, var(--framer-link-current-font-size, var(--framer-link-font-size, var(--framer-font-size, 16px))));\n                text-transform: var(--framer-link-hover-text-transform, var(--framer-link-current-text-transform, var(--framer-link-text-transform, var(--framer-text-transform, none))));\n                text-decoration: var(--framer-link-hover-text-decoration, var(--framer-link-current-text-decoration, var(--framer-link-text-decoration, var(--framer-text-decoration, none))))\n            }\n\n            [data-framer-component-type=DeprecatedRichText] strong {\n                font-weight: bolder\n            }\n\n            [data-framer-component-type=DeprecatedRichText] em {\n                font-style: italic\n            }\n\n            [data-framer-component-type=DeprecatedRichText] .framer-image {\n                display: block;\n                max-width: 100%;\n                height: auto\n            }\n\n            [data-framer-component-type=DeprecatedRichText] ul,[data-framer-component-type=DeprecatedRichText] ol {\n                display: table;\n                width: 100%;\n                padding-left: 0;\n                margin: 0\n            }\n\n            [data-framer-component-type=DeprecatedRichText] li {\n                display: table-row;\n                counter-increment: list-item;\n                list-style: none\n            }\n\n            [data-framer-component-type=DeprecatedRichText] ol>li:before {\n                display: table-cell;\n                width: 2.25ch;\n                box-sizing: border-box;\n                padding-right: .75ch;\n                content: counter(list-item) \".\";\n                white-space: nowrap\n            }\n\n            [data-framer-component-type=DeprecatedRichText] ul>li:before {\n                display: table-cell;\n                width: 2.25ch;\n                box-sizing: border-box;\n                padding-right: .75ch;\n                content: 2022\n            }\n\n            :not([data-framer-generated])>[data-framer-stack-content-wrapper]>*,:not([data-framer-generated])>[data-framer-stack-content-wrapper]>[data-framer-component-type],:not([data-framer-generated])>[data-framer-stack-content-wrapper]>[data-framer-legacy-stack-gap-enabled]>*,:not([data-framer-generated])>[data-framer-stack-content-wrapper]>[data-framer-legacy-stack-gap-enabled]>[data-framer-component-type] {\n                position: relative\n            }\n\n            .flexbox-gap-not-supported [data-framer-legacy-stack-gap-enabled=true]>*,[data-framer-legacy-stack-gap-enabled=true][data-framer-stack-flexbox-gap=false] {\n                margin-top: calc(var(--stack-gap-y) / 2);\n                margin-bottom: calc(var(--stack-gap-y) / 2);\n                margin-right: calc(var(--stack-gap-x) / 2);\n                margin-left: calc(var(--stack-gap-x) / 2)\n            }\n\n            [data-framer-stack-content-wrapper][data-framer-stack-gap-enabled=true] {\n                row-gap: var(--stack-native-row-gap);\n                column-gap: var(--stack-native-column-gap)\n            }\n\n            .flexbox-gap-not-supported [data-framer-stack-content-wrapper][data-framer-stack-gap-enabled=true] {\n                row-gap: unset;\n                column-gap: unset\n            }\n\n            .flexbox-gap-not-supported [data-framer-stack-direction-reverse=false] [data-framer-legacy-stack-gap-enabled=true]>*:first-child,[data-framer-stack-direction-reverse=false] [data-framer-legacy-stack-gap-enabled=true][data-framer-stack-flexbox-gap=false]>*:first-child,.flexbox-gap-not-supported [data-framer-stack-direction-reverse=true] [data-framer-legacy-stack-gap-enabled=true]>*:last-child,[data-framer-stack-direction-reverse=true] [data-framer-legacy-stack-gap-enabled=true][data-framer-stack-flexbox-gap=false]>*:last-child {\n                margin-top: 0;\n                margin-left: 0\n            }\n\n            .flexbox-gap-not-supported [data-framer-stack-direction-reverse=false] [data-framer-legacy-stack-gap-enabled=true]>*:last-child,[data-framer-stack-direction-reverse=false] [data-framer-legacy-stack-gap-enabled=true][data-framer-stack-flexbox-gap=false]>*:last-child,.flexbox-gap-not-supported [data-framer-stack-direction-reverse=true] [data-framer-legacy-stack-gap-enabled=true]>*:first-child,[data-framer-stack-direction-reverse=true] [data-framer-legacy-stack-gap-enabled=true][data-framer-stack-flexbox-gap=false]>*:first-child {\n                margin-right: 0;\n                margin-bottom: 0\n            }\n\n            NavigationContainer [data-framer-component-type=NavigationContainer]>*,[data-framer-component-type=NavigationContainer]>[data-framer-component-type] {\n                position: relative\n            }\n\n            [data-framer-component-type=Scroll]::-webkit-scrollbar {\n                display: none\n            }\n\n            [data-framer-component-type=ScrollContentWrapper]>* {\n                position: relative\n            }\n\n            [data-framer-component-type=NativeScroll] {\n                -webkit-overflow-scrolling: touch\n            }\n\n            [data-framer-component-type=NativeScroll]>* {\n                position: relative\n            }\n\n            [data-framer-component-type=NativeScroll].direction-both {\n                overflow-x: scroll;\n                overflow-y: scroll\n            }\n\n            [data-framer-component-type=NativeScroll].direction-vertical {\n                overflow-x: hidden;\n                overflow-y: scroll\n            }\n\n            [data-framer-component-type=NativeScroll].direction-horizontal {\n                overflow-x: scroll;\n                overflow-y: hidden\n            }\n\n            [data-framer-component-type=NativeScroll].direction-vertical>* {\n                width: 100%!important\n            }\n\n            [data-framer-component-type=NativeScroll].direction-horizontal>* {\n                height: 100%!important\n            }\n\n            [data-framer-component-type=NativeScroll].scrollbar-hidden::-webkit-scrollbar {\n                display: none\n            }\n\n            [data-framer-component-type=PageContentWrapper]>*,[data-framer-component-type=PageContentWrapper]>[data-framer-component-type] {\n                position: relative\n            }\n\n            [data-framer-component-type=DeviceComponent].no-device>* {\n                width: 100%!important;\n                height: 100%!important\n            }\n\n            [data-is-present=false],[data-is-present=false] * {\n                pointer-events: none!important\n            }\n\n            [data-framer-cursor=pointer] {\n                cursor: pointer\n            }\n\n            [data-framer-cursor=grab] {\n                cursor: grab\n            }\n\n            [data-framer-cursor=grab]:active {\n                cursor: grabbing\n            }\n\n            [data-framer-component-type=Frame] *,[data-framer-component-type=Stack] * {\n                pointer-events: auto\n            }\n\n            [data-framer-generated] * {\n                pointer-events: unset\n            }\n\n            .svgContainer svg {\n                display: block\n            }\n\n            [data-reset=button] {\n                border-width: 0;\n                padding: 0;\n                background: none\n            }\n\n            [data-hide-scrollbars=true]::-webkit-scrollbar {\n                width: 0px;\n                height: 0px\n            }\n\n            [data-hide-scrollbars=true]::-webkit-scrollbar-thumb {\n                background: transparent\n            }\n\n            .framer-MBBlR [data-border=true]:after {\n                content: \"\";\n                border-width: var(--border-top-width, 0) var(--border-right-width, 0) var(--border-bottom-width, 0) var(--border-left-width, 0);\n                border-color: var(--border-color, none);\n                border-style: var(--border-style, none);\n                width: 100%;\n                height: 100%;\n                position: absolute;\n                box-sizing: border-box;\n                left: 0;\n                top: 0;\n                border-radius: inherit;\n                pointer-events: none\n            }\n\n            .framer-body-augiA20Il {\n                background: #F4D58D\n            }\n\n            .framer-MBBlR .framer-lux5qc {\n                display: block\n            }\n\n            .framer-MBBlR .framer-72rtr7 {\n                align-content: center;\n                align-items: center;\n                background-color: #f4d58d;\n                display: flex;\n                flex-direction: column;\n                flex-wrap: nowrap;\n                gap: 0px;\n                height: min-content;\n                justify-content: flex-start;\n                overflow: hidden;\n                padding: 0;\n                position: relative;\n                width: 1200px\n            }\n\n            .framer-MBBlR .framer-1jjk897 {\n                align-content: center;\n                align-items: center;\n                background-color: #bf0603;\n                display: flex;\n                flex: none;\n                flex-direction: column;\n                flex-wrap: nowrap;\n                gap: 50px;\n                height: 800px;\n                justify-content: center;\n                overflow: hidden;\n                padding: 100px 50px;\n                position: relative;\n                width: 100%\n            }\n\n            .framer-MBBlR .framer-dxvu7u-container {\n                aspect-ratio: 1 / 1;\n                flex: none;\n                height: var(--framer-aspect-ratio-supported, 700px);\n                left: 50%;\n                position: absolute;\n                top: 50%;\n                transform: translate(-50%,-50%);\n                width: 700px\n            }\n\n            .framer-MBBlR .framer-qtd04m-container {\n                flex: none;\n                height: 30px;\n                position: relative;\n                width: 30px\n            }\n\n            .framer-MBBlR .framer-1ibd7se {\n                --framer-link-text-color: #0099ff;\n                --framer-link-text-decoration: underline;\n                --framer-paragraph-spacing: 0px;\n                flex: none;\n                height: auto;\n                max-width: 1000px;\n                position: relative;\n                white-space: pre;\n                width: 100%\n            }\n\n            .framer-MBBlR .framer-1g0dm8l {\n                align-content: center;\n                align-items: center;\n                display: flex;\n                flex: none;\n                flex-direction: row;\n                flex-wrap: nowrap;\n                gap: 20px;\n                height: min-content;\n                justify-content: center;\n                overflow: hidden;\n                padding: 0;\n                position: relative;\n                width: 100%;\n                z-index: 1\n            }\n\n            .framer-MBBlR .framer-15likef,.framer-MBBlR .framer-8md3ds,.framer-MBBlR .framer-166h6go {\n                --framer-link-text-color: #0099ff;\n                --framer-link-text-decoration: underline;\n                --framer-paragraph-spacing: 0px;\n                flex: none;\n                height: auto;\n                position: relative;\n                white-space: pre;\n                width: auto\n            }\n\n            .framer-MBBlR .framer-fjvu6,.framer-MBBlR .framer-c0mcwn {\n                align-content: center;\n                align-items: center;\n                background-color: #f4d58d;\n                display: flex;\n                flex: none;\n                flex-direction: column;\n                flex-wrap: nowrap;\n                gap: 0px;\n                height: min-content;\n                justify-content: flex-start;\n                overflow: hidden;\n                padding: 100px;\n                position: relative;\n                width: 100%\n            }\n\n            .framer-MBBlR .framer-1vt59z1 {\n                align-content: center;\n                align-items: center;\n                display: flex;\n                flex: none;\n                flex-direction: row;\n                flex-wrap: nowrap;\n                gap: 10px;\n                height: min-content;\n                justify-content: flex-start;\n                max-width: 1000px;\n                overflow: hidden;\n                padding: 0;\n                position: relative;\n                width: 100%;\n                z-index: 1\n            }\n\n            .framer-MBBlR .framer-ptgy4t {\n                align-content: flex-start;\n                align-items: flex-start;\n                display: flex;\n                flex: 1 0 0px;\n                flex-direction: row;\n                flex-wrap: nowrap;\n                gap: 40px;\n                height: min-content;\n                justify-content: center;\n                overflow: hidden;\n                padding: 0;\n                position: relative;\n                width: 1px\n            }\n\n            .framer-MBBlR .framer-1a1tsy0 {\n                --framer-link-text-color: #0099ff;\n                --framer-link-text-decoration: underline;\n                --framer-paragraph-spacing: 0px;\n                flex: 1 0 0px;\n                height: auto;\n                overflow: visible;\n                position: relative;\n                white-space: pre-wrap;\n                width: 1px;\n                word-break: break-word;\n                word-wrap: break-word\n            }\n\n            .framer-MBBlR .framer-125vbz1 {\n                --framer-paragraph-spacing: 0px;\n                flex: 1 0 0px;\n                height: auto;\n                overflow: visible;\n                position: relative;\n                white-space: pre-wrap;\n                width: 1px;\n                word-break: break-word;\n                word-wrap: break-word\n            }\n\n            .framer-MBBlR .framer-136w9f {\n                align-content: center;\n                align-items: center;\n                background-color: #f4d58d;\n                display: flex;\n                flex: none;\n                flex-direction: column;\n                flex-wrap: nowrap;\n                gap: 60px;\n                height: min-content;\n                justify-content: center;\n                overflow: hidden;\n                padding: 100px;\n                position: relative;\n                width: 100%\n            }\n\n            .framer-MBBlR .framer-c208ut {\n                --framer-link-text-color: #0099ff;\n                --framer-link-text-decoration: underline;\n                --framer-paragraph-spacing: 0px;\n                flex: none;\n                height: auto;\n                max-width: 1000px;\n                overflow: visible;\n                position: relative;\n                white-space: pre-wrap;\n                width: 100%;\n                word-break: break-word;\n                word-wrap: break-word\n            }\n\n            .framer-MBBlR .framer-lms3jt {\n                display: grid;\n                flex: none;\n                gap: 40px;\n                grid-auto-rows: min-content;\n                grid-template-columns: repeat(3,minmax(100px,1fr));\n                grid-template-rows: repeat(2,min-content);\n                height: min-content;\n                justify-content: center;\n                max-width: 1000px;\n                overflow: hidden;\n                padding: 0;\n                position: relative;\n                width: 100%\n            }\n\n            .framer-MBBlR .framer-1uemalu,.framer-MBBlR .framer-1ya84r9,.framer-MBBlR .framer-26rkvc,.framer-MBBlR .framer-l3o10m,.framer-MBBlR .framer-164tptc,.framer-MBBlR .framer-u998ha {\n                align-content: flex-start;\n                align-items: flex-start;\n                align-self: start;\n                display: flex;\n                flex: none;\n                flex-direction: column;\n                flex-wrap: nowrap;\n                gap: 10px;\n                height: min-content;\n                justify-content: center;\n                justify-self: start;\n                max-width: 100%;\n                overflow: visible;\n                padding: 0;\n                position: relative;\n                width: 100%\n            }\n\n            .framer-MBBlR .framer-yx71up,.framer-MBBlR .framer-1farw96,.framer-MBBlR .framer-1bfr76w,.framer-MBBlR .framer-lswdom,.framer-MBBlR .framer-fjoo8o,.framer-MBBlR .framer-108006j {\n                --framer-link-text-color: #0099ff;\n                --framer-link-text-decoration: underline;\n                --framer-paragraph-spacing: 0px;\n                flex: none;\n                height: auto;\n                overflow: visible;\n                position: relative;\n                white-space: pre-wrap;\n                width: 100%;\n                word-break: break-word;\n                word-wrap: break-word\n            }\n\n            .framer-MBBlR .framer-1ttx2qv,.framer-MBBlR .framer-mdirgo,.framer-MBBlR .framer-1sbb9df,.framer-MBBlR .framer-e3hz9t,.framer-MBBlR .framer-8thvms,.framer-MBBlR .framer-m0nbuo {\n                --framer-paragraph-spacing: 0px;\n                flex: none;\n                height: auto;\n                max-width: 400px;\n                overflow: visible;\n                position: relative;\n                white-space: pre-wrap;\n                width: 100%;\n                word-break: break-word;\n                word-wrap: break-word\n            }\n\n            .framer-MBBlR .framer-1m2d5yq {\n                align-content: flex-start;\n                align-items: flex-start;\n                display: flex;\n                flex: none;\n                flex-direction: row;\n                flex-wrap: nowrap;\n                gap: 40px;\n                height: min-content;\n                justify-content: flex-start;\n                max-width: 1000px;\n                overflow: hidden;\n                padding: 0;\n                position: relative;\n                width: 100%\n            }\n\n            .framer-MBBlR .framer-lq69l {\n                align-content: flex-start;\n                align-items: flex-start;\n                display: flex;\n                flex: 1 0 0px;\n                flex-direction: column;\n                flex-wrap: nowrap;\n                gap: 40px;\n                height: min-content;\n                justify-content: flex-start;\n                overflow: hidden;\n                padding: 0;\n                position: relative;\n                width: 1px\n            }\n\n            .framer-MBBlR .framer-1ounpyf,.framer-MBBlR .framer-1xfntk {\n                --framer-paragraph-spacing: 0px;\n                flex: none;\n                height: auto;\n                overflow: visible;\n                position: relative;\n                white-space: pre-wrap;\n                width: 100%;\n                word-break: break-word;\n                word-wrap: break-word\n            }\n\n            .framer-MBBlR .framer-1541695 {\n                align-content: flex-start;\n                align-items: flex-start;\n                display: flex;\n                flex: 1 0 0px;\n                flex-direction: column;\n                flex-wrap: nowrap;\n                gap: 40px;\n                height: min-content;\n                justify-content: flex-start;\n                overflow: visible;\n                padding: 0;\n                position: relative;\n                width: 1px\n            }\n\n            .framer-MBBlR .framer-1gs90qc,.framer-MBBlR .framer-182cwdm,.framer-MBBlR .framer-1vc6bxr,.framer-MBBlR .framer-45gmbv,.framer-MBBlR .framer-m9fihf,.framer-MBBlR .framer-dgndgm,.framer-MBBlR .framer-1j08g1s,.framer-MBBlR .framer-1hdz44r,.framer-MBBlR .framer-1rlllw6 {\n                --framer-paragraph-spacing: 0px;\n                flex: none;\n                height: auto;\n                overflow: visible;\n                position: relative;\n                white-space: pre;\n                width: auto\n            }\n\n            .framer-MBBlR .framer-3uhpu2 {\n                align-content: flex-start;\n                align-items: flex-start;\n                display: flex;\n                flex: none;\n                flex-direction: column;\n                flex-wrap: nowrap;\n                gap: 0px;\n                height: min-content;\n                justify-content: center;\n                overflow: hidden;\n                padding: 0;\n                position: relative;\n                width: 100%\n            }\n\n            .framer-MBBlR .framer-1u35yiq {\n                --border-bottom-width: 1px;\n                --border-color: #edbb47;\n                --border-left-width: 0px;\n                --border-right-width: 0px;\n                --border-style: solid;\n                --border-top-width: 0px;\n                align-content: center;\n                align-items: center;\n                display: flex;\n                flex: none;\n                flex-direction: row;\n                flex-wrap: nowrap;\n                height: min-content;\n                justify-content: space-between;\n                overflow: hidden;\n                padding: 0 0 10px;\n                position: relative;\n                width: 100%\n            }\n\n            .framer-MBBlR .framer-ahdi54,.framer-MBBlR .framer-c6e9xa {\n                --border-bottom-width: 1px;\n                --border-color: #edbb47;\n                --border-left-width: 0px;\n                --border-right-width: 0px;\n                --border-style: solid;\n                --border-top-width: 0px;\n                align-content: center;\n                align-items: center;\n                display: flex;\n                flex: none;\n                flex-direction: row;\n                flex-wrap: nowrap;\n                height: min-content;\n                justify-content: space-between;\n                overflow: hidden;\n                padding: 10px 0;\n                position: relative;\n                width: 100%\n            }\n\n            .framer-MBBlR .framer-b691y0 {\n                align-content: center;\n                align-items: center;\n                display: flex;\n                flex: none;\n                flex-direction: row;\n                flex-wrap: nowrap;\n                height: min-content;\n                justify-content: space-between;\n                overflow: hidden;\n                padding: 10px 0;\n                position: relative;\n                width: 100%\n            }\n\n            .framer-MBBlR .framer-1lfciee {\n                -webkit-filter: grayscale(1);\n                align-content: center;\n                align-items: center;\n                display: flex;\n                filter: grayscale(1);\n                flex: none;\n                flex-direction: row;\n                flex-wrap: nowrap;\n                gap: 10px;\n                height: min-content;\n                justify-content: center;\n                left: 50%;\n                mix-blend-mode: hard-light;\n                opacity: .5;\n                overflow: hidden;\n                padding: 0;\n                position: absolute;\n                top: 50%;\n                transform: translate(-50%,-50%);\n                width: min-content;\n                z-index: 0\n            }\n\n            .framer-MBBlR .framer-kdvar0-container {\n                aspect-ratio: 1 / 1;\n                flex: none;\n                height: var(--framer-aspect-ratio-supported, 1000px);\n                position: relative;\n                width: 1000px;\n                z-index: 0\n            }\n\n            @supports (background: -webkit-named-image(i)) and (not (scale:1)) {\n                .framer-MBBlR .framer-72rtr7,.framer-MBBlR .framer-1jjk897,.framer-MBBlR .framer-1g0dm8l,.framer-MBBlR .framer-fjvu6,.framer-MBBlR .framer-1vt59z1,.framer-MBBlR .framer-ptgy4t,.framer-MBBlR .framer-136w9f,.framer-MBBlR .framer-1uemalu,.framer-MBBlR .framer-1ya84r9,.framer-MBBlR .framer-26rkvc,.framer-MBBlR .framer-l3o10m,.framer-MBBlR .framer-164tptc,.framer-MBBlR .framer-u998ha,.framer-MBBlR .framer-c0mcwn,.framer-MBBlR .framer-1m2d5yq,.framer-MBBlR .framer-lq69l,.framer-MBBlR .framer-1541695,.framer-MBBlR .framer-3uhpu2,.framer-MBBlR .framer-1lfciee {\n                    gap:0px\n                }\n\n                .framer-MBBlR .framer-72rtr7>*,.framer-MBBlR .framer-fjvu6>*,.framer-MBBlR .framer-c0mcwn>*,.framer-MBBlR .framer-3uhpu2>* {\n                    margin: 0\n                }\n\n                .framer-MBBlR .framer-72rtr7>:first-child,.framer-MBBlR .framer-1jjk897>:first-child,.framer-MBBlR .framer-fjvu6>:first-child,.framer-MBBlR .framer-136w9f>:first-child,.framer-MBBlR .framer-1uemalu>:first-child,.framer-MBBlR .framer-1ya84r9>:first-child,.framer-MBBlR .framer-26rkvc>:first-child,.framer-MBBlR .framer-l3o10m>:first-child,.framer-MBBlR .framer-164tptc>:first-child,.framer-MBBlR .framer-u998ha>:first-child,.framer-MBBlR .framer-c0mcwn>:first-child,.framer-MBBlR .framer-lq69l>:first-child,.framer-MBBlR .framer-1541695>:first-child,.framer-MBBlR .framer-3uhpu2>:first-child {\n                    margin-top: 0\n                }\n\n                .framer-MBBlR .framer-72rtr7>:last-child,.framer-MBBlR .framer-1jjk897>:last-child,.framer-MBBlR .framer-fjvu6>:last-child,.framer-MBBlR .framer-136w9f>:last-child,.framer-MBBlR .framer-1uemalu>:last-child,.framer-MBBlR .framer-1ya84r9>:last-child,.framer-MBBlR .framer-26rkvc>:last-child,.framer-MBBlR .framer-l3o10m>:last-child,.framer-MBBlR .framer-164tptc>:last-child,.framer-MBBlR .framer-u998ha>:last-child,.framer-MBBlR .framer-c0mcwn>:last-child,.framer-MBBlR .framer-lq69l>:last-child,.framer-MBBlR .framer-1541695>:last-child,.framer-MBBlR .framer-3uhpu2>:last-child {\n                    margin-bottom: 0\n                }\n\n                .framer-MBBlR .framer-1jjk897>* {\n                    margin: 25px 0\n                }\n\n                .framer-MBBlR .framer-1g0dm8l>* {\n                    margin: 0 10px\n                }\n\n                .framer-MBBlR .framer-1g0dm8l>:first-child,.framer-MBBlR .framer-1vt59z1>:first-child,.framer-MBBlR .framer-ptgy4t>:first-child,.framer-MBBlR .framer-1m2d5yq>:first-child,.framer-MBBlR .framer-1lfciee>:first-child {\n                    margin-left: 0\n                }\n\n                .framer-MBBlR .framer-1g0dm8l>:last-child,.framer-MBBlR .framer-1vt59z1>:last-child,.framer-MBBlR .framer-ptgy4t>:last-child,.framer-MBBlR .framer-1m2d5yq>:last-child,.framer-MBBlR .framer-1lfciee>:last-child {\n                    margin-right: 0\n                }\n\n                .framer-MBBlR .framer-1vt59z1>*,.framer-MBBlR .framer-1lfciee>* {\n                    margin: 0 5px\n                }\n\n                .framer-MBBlR .framer-ptgy4t>*,.framer-MBBlR .framer-1m2d5yq>* {\n                    margin: 0 20px\n                }\n\n                .framer-MBBlR .framer-136w9f>* {\n                    margin: 30px 0\n                }\n\n                .framer-MBBlR .framer-1uemalu>*,.framer-MBBlR .framer-1ya84r9>*,.framer-MBBlR .framer-26rkvc>*,.framer-MBBlR .framer-l3o10m>*,.framer-MBBlR .framer-164tptc>*,.framer-MBBlR .framer-u998ha>* {\n                    margin: 5px 0\n                }\n\n                .framer-MBBlR .framer-lq69l>*,.framer-MBBlR .framer-1541695>* {\n                    margin: 20px 0\n                }\n            }\n\n            @media (min-width: 1200px) {\n                .framer-MBBlR .hidden-72rtr7 {\n                    display:none!important\n                }\n            }\n\n            @media (min-width: 810px) and (max-width: 1199px) {\n                .framer-MBBlR .hidden-tzvm26 {\n                    display:none!important\n                }\n\n                .framer-body-augiA20Il {\n                    background: #F4D58D\n                }\n\n                .framer-MBBlR .framer-72rtr7 {\n                    width: 810px\n                }\n\n                .framer-MBBlR .framer-1jjk897,.framer-MBBlR .framer-fjvu6 {\n                    padding: 80px 40px\n                }\n\n                .framer-MBBlR .framer-ptgy4t {\n                    flex-direction: column;\n                    gap: 20px\n                }\n\n                .framer-MBBlR .framer-1a1tsy0,.framer-MBBlR .framer-125vbz1,.framer-MBBlR .framer-lq69l,.framer-MBBlR .framer-1541695 {\n                    flex: none;\n                    width: 100%\n                }\n\n                .framer-MBBlR .framer-136w9f,.framer-MBBlR .framer-c0mcwn {\n                    padding: 50px\n                }\n\n                .framer-MBBlR .framer-1m2d5yq {\n                    flex-direction: column\n                }\n\n                @supports (background: -webkit-named-image(i)) and (not (scale:1)) {\n                    .framer-MBBlR .framer-ptgy4t,.framer-MBBlR .framer-1m2d5yq {\n                        gap:0px\n                    }\n\n                    .framer-MBBlR .framer-ptgy4t>* {\n                        margin: 10px 0\n                    }\n\n                    .framer-MBBlR .framer-ptgy4t>:first-child,.framer-MBBlR .framer-1m2d5yq>:first-child {\n                        margin-top: 0\n                    }\n\n                    .framer-MBBlR .framer-ptgy4t>:last-child,.framer-MBBlR .framer-1m2d5yq>:last-child {\n                        margin-bottom: 0\n                    }\n\n                    .framer-MBBlR .framer-1m2d5yq>* {\n                        margin: 20px 0\n                    }\n                }\n            }\n\n            @media (max-width: 809px) {\n                .framer-MBBlR .hidden-1e4mnvs {\n                    display:none!important\n                }\n\n                .framer-body-augiA20Il {\n                    background: #F4D58D\n                }\n\n                .framer-MBBlR .framer-72rtr7 {\n                    width: 390px\n                }\n\n                .framer-MBBlR .framer-1jjk897 {\n                    height: 500px;\n                    padding: 60px 20px\n                }\n\n                .framer-MBBlR .framer-dxvu7u-container {\n                    height: var(--framer-aspect-ratio-supported, 350px);\n                    top: 50%;\n                    width: 350px\n                }\n\n                .framer-MBBlR .framer-1g0dm8l,.framer-MBBlR .framer-1m2d5yq {\n                    flex-direction: column\n                }\n\n                .framer-MBBlR .framer-fjvu6 {\n                    padding: 60px 20px\n                }\n\n                .framer-MBBlR .framer-ptgy4t {\n                    flex-direction: column;\n                    gap: 20px\n                }\n\n                .framer-MBBlR .framer-1a1tsy0,.framer-MBBlR .framer-125vbz1,.framer-MBBlR .framer-lq69l,.framer-MBBlR .framer-1541695 {\n                    flex: none;\n                    width: 100%\n                }\n\n                .framer-MBBlR .framer-136w9f {\n                    align-content: flex-start;\n                    align-items: flex-start;\n                    gap: 40px;\n                    padding: 20px\n                }\n\n                .framer-MBBlR .framer-lms3jt {\n                    align-content: flex-start;\n                    align-items: flex-start;\n                    display: flex;\n                    flex-direction: column;\n                    flex-wrap: nowrap;\n                    justify-content: flex-start\n                }\n\n                .framer-MBBlR .framer-1uemalu,.framer-MBBlR .framer-1ya84r9,.framer-MBBlR .framer-26rkvc,.framer-MBBlR .framer-l3o10m,.framer-MBBlR .framer-164tptc,.framer-MBBlR .framer-u998ha {\n                    align-self: unset\n                }\n\n                .framer-MBBlR .framer-c0mcwn {\n                    padding: 40px 20px\n                }\n\n                .framer-MBBlR .framer-kdvar0-container {\n                    height: var(--framer-aspect-ratio-supported, 600px);\n                    width: 600px\n                }\n\n                @supports (background: -webkit-named-image(i)) and (not (scale:1)) {\n                    .framer-MBBlR .framer-1g0dm8l,.framer-MBBlR .framer-ptgy4t,.framer-MBBlR .framer-136w9f,.framer-MBBlR .framer-lms3jt,.framer-MBBlR .framer-1m2d5yq {\n                        gap:0px\n                    }\n\n                    .framer-MBBlR .framer-1g0dm8l>*,.framer-MBBlR .framer-ptgy4t>* {\n                        margin: 10px 0\n                    }\n\n                    .framer-MBBlR .framer-1g0dm8l>:first-child,.framer-MBBlR .framer-ptgy4t>:first-child,.framer-MBBlR .framer-136w9f>:first-child,.framer-MBBlR .framer-lms3jt>:first-child,.framer-MBBlR .framer-1m2d5yq>:first-child {\n                        margin-top: 0\n                    }\n\n                    .framer-MBBlR .framer-1g0dm8l>:last-child,.framer-MBBlR .framer-ptgy4t>:last-child,.framer-MBBlR .framer-136w9f>:last-child,.framer-MBBlR .framer-lms3jt>:last-child,.framer-MBBlR .framer-1m2d5yq>:last-child {\n                        margin-bottom: 0\n                    }\n\n                    .framer-MBBlR .framer-136w9f>*,.framer-MBBlR .framer-lms3jt>*,.framer-MBBlR .framer-1m2d5yq>* {\n                        margin: 20px 0\n                    }\n                }\n            }\n\n            .ssr-variant {\n                display: contents\n            }\n\n            .framer-xIUJb [data-border=true]:after {\n                content: \"\";\n                border-width: var(--border-top-width, 0) var(--border-right-width, 0) var(--border-bottom-width, 0) var(--border-left-width, 0);\n                border-color: var(--border-color, none);\n                border-style: var(--border-style, none);\n                width: 100%;\n                height: 100%;\n                position: absolute;\n                box-sizing: border-box;\n                left: 0;\n                top: 0;\n                border-radius: inherit;\n                pointer-events: none\n            }\n\n            @supports (aspect-ratio: 1) {\n                body {\n                    --framer-aspect-ratio-supported: auto\n                }\n            }\n\n            .framer-xIUJb .framer-1w5ofww {\n                display: block\n            }\n\n            .framer-xIUJb .framer-1d4efzn {\n                height: 800px;\n                overflow: visible;\n                position: relative;\n                width: 800px\n            }\n\n            .framer-xIUJb .framer-komx6o,.framer-xIUJb .framer-1nzhcfz,.framer-xIUJb .framer-s3r18z,.framer-xIUJb .framer-g48ek7,.framer-xIUJb .framer-yvzk5c,.framer-xIUJb .framer-1ovx5kg,.framer-xIUJb .framer-l45ehh,.framer-xIUJb .framer-1upf1hx,.framer-xIUJb .framer-z0jleg,.framer-xIUJb .framer-hsvi5x,.framer-xIUJb .framer-1wnu5xw,.framer-xIUJb .framer-tlaek,.framer-xIUJb .framer-6x4gig,.framer-xIUJb .framer-ls7n8d,.framer-xIUJb .framer-1qgajqi,.framer-xIUJb .framer-1kk5m9g,.framer-xIUJb .framer-dmnnb2,.framer-xIUJb .framer-1xyq17j,.framer-xIUJb .framer-hwussw,.framer-xIUJb .framer-1iyhk8u {\n                flex: none;\n                inset: 0;\n                overflow: visible;\n                position: absolute\n            }\n\n            .framer-xIUJb.framer-v-1o90sj9 .framer-1d4efzn,.framer-xIUJb.framer-v-vxh3qt .framer-1d4efzn,.framer-xIUJb.framer-v-elzcqx .framer-1d4efzn,.framer-xIUJb.framer-v-13g2qre .framer-1d4efzn,.framer-xIUJb.framer-v-dvhg7n .framer-1d4efzn,.framer-xIUJb.framer-v-1hruzq2 .framer-1d4efzn,.framer-xIUJb.framer-v-crg4ys .framer-1d4efzn,.framer-xIUJb.framer-v-1f1jiqf .framer-1d4efzn,.framer-xIUJb.framer-v-1azs8x .framer-1d4efzn,.framer-xIUJb.framer-v-1en85dl .framer-1d4efzn,.framer-xIUJb.framer-v-1f3e6ej .framer-1d4efzn,.framer-xIUJb.framer-v-t3e72u .framer-1d4efzn,.framer-xIUJb.framer-v-1v2ki55 .framer-1d4efzn,.framer-xIUJb.framer-v-1hnyl7n .framer-1d4efzn,.framer-xIUJb.framer-v-1g19hwc .framer-1d4efzn,.framer-xIUJb.framer-v-1vtud9u .framer-1d4efzn,.framer-xIUJb.framer-v-fujjog .framer-1d4efzn,.framer-xIUJb.framer-v-1y3ax6t .framer-1d4efzn,.framer-xIUJb.framer-v-1u87sx2 .framer-1d4efzn {\n                aspect-ratio: 1 / 1;\n                height: var(--framer-aspect-ratio-supported, 800px)\n            }\n        </style>\n        <!-- End of headEnd -->\n    </head>\n    <body class=\"framer-body-augiA20Il\">\n        <script async=\"\" src=\"https://events.framer.com/script\" data-fid=\"2a16e53b602e611742e572dd18a55dc3cb542646ffc0abcd6653331e2cd82a1b\"></script>\n        <!-- End of bodyStart -->\n        <div id=\"main\" data-framer-hydrate-v2=\"{&quot;routeId&quot;:&quot;augiA20Il&quot;,&quot;localizationId&quot;:&quot;default&quot;}\" data-framer-ssr-released-at=\"2023-06-29T12:18:49.096Z\" data-framer-page-optimized-at=\"2023-07-11T17:00:53.388Z\">\n            <div class=\"framer-MBBlR\" style=\"display:contents\">\n                <div class=\"framer-72rtr7\" style=\"min-height:100%;width:auto\">\n                    <div class=\"framer-1jjk897\" data-framer-name=\"Hero\" name=\"Hero\">\n                        <div class=\"framer-dxvu7u-container\" style=\"transform:translate(-50%, -50%)\">\n                            <div class=\"framer-xIUJb framer-v-1f3e6ej\" style=\"display:contents\" tabindex=\"0\">\n                                <div class=\"framer-1d4efzn\" data-framer-name=\"Squiggle 12\" style=\"height:100%;width:100%\">\n                                    <div class=\"framer-z0jleg\" data-framer-name=\"Squiggle 12\">\n                                        <div style=\"position:absolute;border-radius:inherit;top:0;right:0;bottom:0;left:0\" data-framer-background-image-wrapper=\"true\">\n                                            <img src=\"https://framerusercontent.com/images/idMMPwRoqQmtfvesQ0qKcVTjOxg.png\" alt=\"\" srcset=\"https://framerusercontent.com/images/idMMPwRoqQmtfvesQ0qKcVTjOxg.png?scale-down-to=512 512w, https://framerusercontent.com/images/idMMPwRoqQmtfvesQ0qKcVTjOxg.png?scale-down-to=1024 1024w, https://framerusercontent.com/images/idMMPwRoqQmtfvesQ0qKcVTjOxg.png 1600w\" sizes=\"(min-width: 1200px) 800px, (min-width: 810px) and (max-width: 1199px) 800px, (max-width: 809px) 800px\" style=\"display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto\" data-framer-original-sizes=\"800px\">\n                                        </div>\n                                    </div>\n                                </div>\n                            </div>\n                        </div>\n                        <div class=\"framer-qtd04m-container\">\n                            <div style=\"width:100%;height:100%;clip-path:url(#curve-aArJfMufz-1n4l377);background:rgb(255, 255, 255)\">\n                                <svg>\n                                    <clipPath id=\"curve-aArJfMufz-1n4l377\" clipPathUnits=\"objectBoundingBox\" transform=\"scale(0.005)\">\n                                        <path d=\"M50 0H0V100C0 155.228 44.7715 200 100 200C155.228 200 200 155.228 200 100V0H150C122.386 0 100 22.3858 100 50C100 22.3858 77.6142 0 50 0Z\"></path>\n                                    </clipPath>\n                                </svg>\n                            </div>\n                        </div>\n                        <div class=\"ssr-variant hidden-1e4mnvs hidden-tzvm26\">\n                            <svg class=\"framer-1ibd7se\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\" viewBox=\"0 0 2416 375\">\n                                <foreignObject width=\"100%\" height=\"100%\" transform=\"scale(1)\" style=\"overflow:visible;transform-origin:center center\">\n                                    <h1 style=\"--font-selector:R0Y7Q2xpbWF0ZSBDcmlzaXMtcmVndWxhcg==;--framer-font-family:&quot;Climate Crisis&quot;, sans-serif;--framer-font-size:374.83575114545783px;--framer-line-height:1em;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255);--framer-text-transform:uppercase\" class=\"framer-text\">Sandeep</h1>\n                                </foreignObject>\n                            </svg>\n                        </div>\n                        <div class=\"ssr-variant hidden-tzvm26 hidden-72rtr7\">\n                            <svg class=\"framer-1ibd7se\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\" viewBox=\"0 0 769 119\">\n                                <foreignObject width=\"100%\" height=\"100%\" transform=\"scale(1)\" style=\"overflow:visible;transform-origin:center center\">\n                                    <h1 style=\"--font-selector:R0Y7Q2xpbWF0ZSBDcmlzaXMtcmVndWxhcg==;--framer-font-family:&quot;Climate Crisis&quot;, sans-serif;--framer-font-size:119.34620772022741px;--framer-line-height:1em;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255);--framer-text-transform:uppercase\" class=\"framer-text\">Sandeep</h1>\n                                </foreignObject>\n                            </svg>\n                        </div>\n                        <div class=\"ssr-variant hidden-1e4mnvs hidden-72rtr7\">\n                            <svg class=\"framer-1ibd7se\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\" viewBox=\"0 0 1605 249\">\n                                <foreignObject width=\"100%\" height=\"100%\" transform=\"scale(1)\" style=\"overflow:visible;transform-origin:center center\">\n                                    <h1 style=\"--font-selector:R0Y7Q2xpbWF0ZSBDcmlzaXMtcmVndWxhcg==;--framer-font-family:&quot;Climate Crisis&quot;, sans-serif;--framer-font-size:248.9532214302203px;--framer-line-height:1em;--framer-text-alignment:center;--framer-text-color:rgb(255, 255, 255);--framer-text-transform:uppercase\" class=\"framer-text\">Sandeep</h1>\n                                </foreignObject>\n                            </svg>\n                        </div>\n                        <div class=\"framer-1g0dm8l\" data-framer-name=\"Menu\" name=\"Menu\">\n                            <div class=\"framer-15likef\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                <p style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-weight:500;--framer-text-color:rgb(255, 255, 255)\" class=\"framer-text\">Skills</p>\n                            </div>\n                            <div class=\"framer-8md3ds\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                <p style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-weight:500;--framer-text-color:rgb(255, 255, 255)\" class=\"framer-text\">Projects</p>\n                            </div>\n                            <div class=\"framer-166h6go\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                <p style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-weight:500;--framer-text-color:rgb(255, 255, 255)\" class=\"framer-text\">Contact</p>\n                            </div>\n                        </div>\n                    </div>\n                    <div class=\"framer-fjvu6\" data-framer-name=\"Text\" name=\"Text\">\n                        <div class=\"framer-1vt59z1\">\n                            <div class=\"framer-ptgy4t\">\n                                <div class=\"ssr-variant hidden-1e4mnvs hidden-tzvm26\">\n                                    <div class=\"framer-1a1tsy0\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                        <h2 style=\"--font-selector:R0Y7Q2xpbWF0ZSBDcmlzaXMtcmVndWxhcg==;--framer-font-family:&quot;Climate Crisis&quot;, sans-serif;--framer-font-size:48px;--framer-text-alignment:left;--framer-text-color:rgb(0, 20, 39)\" class=\"framer-text\">Sandeep Magician Unleashed!</h2>\n                                    </div>\n                                </div>\n                                <div class=\"ssr-variant hidden-tzvm26 hidden-72rtr7\">\n                                    <div class=\"framer-1a1tsy0\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                        <h2 style=\"--font-selector:R0Y7Q2xpbWF0ZSBDcmlzaXMtcmVndWxhcg==;--framer-font-family:&quot;Climate Crisis&quot;, sans-serif;--framer-font-size:32px;--framer-text-alignment:left;--framer-text-color:rgb(0, 20, 39)\" class=\"framer-text\">Sandeep Magician Unleashed!</h2>\n                                    </div>\n                                </div>\n                                <div class=\"ssr-variant hidden-1e4mnvs hidden-72rtr7\">\n                                    <div class=\"framer-1a1tsy0\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                        <h2 style=\"--font-selector:R0Y7Q2xpbWF0ZSBDcmlzaXMtcmVndWxhcg==;--framer-font-family:&quot;Climate Crisis&quot;, sans-serif;--framer-font-size:32px;--framer-text-alignment:left;--framer-text-color:rgb(0, 20, 39)\" class=\"framer-text\">Sandeep Magician Unleashed!</h2>\n                                    </div>\n                                </div>\n                                <div class=\"framer-125vbz1\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                    <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-line-height:1.5em;--framer-text-alignment:left;--framer-text-color:rgb(0, 20, 39)\" class=\"framer-text\">With 8 stupendously productive years in software development, this fierce developer will cast a spell on your project that leaves you stunned and delighted.</h3>\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n                    <div class=\"framer-136w9f\" data-framer-name=\"FAQ\" name=\"FAQ\">\n                        <div class=\"ssr-variant hidden-1e4mnvs\">\n                            <div class=\"framer-c208ut\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                <h2 style=\"--font-selector:R0Y7Q2xpbWF0ZSBDcmlzaXMtcmVndWxhcg==;--framer-font-family:&quot;Climate Crisis&quot;, sans-serif;--framer-font-size:48px;--framer-text-alignment:left;--framer-text-color:rgb(141, 8, 1)\" class=\"framer-text\">  of Languages</h2>\n                            </div>\n                        </div>\n                        <div class=\"ssr-variant hidden-tzvm26 hidden-72rtr7\">\n                            <div class=\"framer-c208ut\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                <h2 style=\"--font-selector:R0Y7Q2xpbWF0ZSBDcmlzaXMtcmVndWxhcg==;--framer-font-family:&quot;Climate Crisis&quot;, sans-serif;--framer-font-size:32px;--framer-text-alignment:left;--framer-text-color:rgb(141, 8, 1)\" class=\"framer-text\">  of Languages</h2>\n                            </div>\n                        </div>\n                        <div class=\"framer-lms3jt\" data-framer-name=\"Questions Row\" name=\"Questions Row\">\n                            <div class=\"framer-1uemalu\" data-framer-name=\"Q&amp;A\" name=\"Q&amp;A\">\n                                <div class=\"framer-yx71up\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                    <h2 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left;--framer-text-color:rgb(141, 8, 1)\" class=\"framer-text\">Swift Guru</h2>\n                                </div>\n                                <div class=\"framer-1ttx2qv\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                    <h2 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-weight:500;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">Creating captivating iOS apps that enchant users.</h2>\n                                </div>\n                            </div>\n                            <div class=\"framer-1ya84r9\" data-framer-name=\"Q&amp;A\" name=\"Q&amp;A\">\n                                <div class=\"framer-1farw96\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                    <h2 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left;--framer-text-color:rgb(141, 8, 1)\" class=\"framer-text\">Java Titan</h2>\n                                </div>\n                                <div class=\"framer-mdirgo\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                    <h2 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-weight:500;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">Building robust back-end systems in Java for seamless functionality.</h2>\n                                </div>\n                            </div>\n                            <div class=\"framer-26rkvc\" data-framer-name=\"Q&amp;A\" name=\"Q&amp;A\">\n                                <div class=\"framer-1bfr76w\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                    <h2 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left;--framer-text-color:rgb(141, 8, 1)\" class=\"framer-text\">Python Whisperer</h2>\n                                </div>\n                                <div class=\"framer-1sbb9df\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                    <h2 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-weight:500;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">Implementing AI and machine learning solutions that transform businesses.</h2>\n                                </div>\n                            </div>\n                            <div class=\"framer-l3o10m\" data-framer-name=\"Q&amp;A\" name=\"Q&amp;A\">\n                                <div class=\"framer-lswdom\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                    <h2 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left;--framer-text-color:rgb(141, 8, 1)\" class=\"framer-text\">JavaScript Warrior</h2>\n                                </div>\n                                <div class=\"framer-e3hz9t\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                    <h2 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-weight:500;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">Crafting front-end wizardry with unmatched style.</h2>\n                                </div>\n                            </div>\n                            <div class=\"framer-164tptc\" data-framer-name=\"Q&amp;A\" name=\"Q&amp;A\">\n                                <div class=\"framer-fjoo8o\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                    <h2 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left;--framer-text-color:rgb(141, 8, 1)\" class=\"framer-text\">C++ Conqueror</h2>\n                                </div>\n                                <div class=\"framer-8thvms\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                    <h2 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-weight:500;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">Sculpting high performance systems for a rapid digital world.</h2>\n                                </div>\n                            </div>\n                            <div class=\"framer-u998ha\" data-framer-name=\"Q&amp;A\" name=\"Q&amp;A\">\n                                <div class=\"framer-108006j\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                    <h2 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left;--framer-text-color:rgb(141, 8, 1)\" class=\"framer-text\">Ruby Radical</h2>\n                                </div>\n                                <div class=\"framer-m0nbuo\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                    <h2 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-weight:500;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">Serving up mind-blowing web applications with Ruby on Rails.</h2>\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n                    <div class=\"framer-c0mcwn\" data-framer-name=\"Text\" name=\"Text\">\n                        <div class=\"framer-1m2d5yq\">\n                            <div class=\"framer-lq69l\">\n                                <div class=\"framer-1ounpyf\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                    <h3 style=\"--font-selector:R0Y7Q2xpbWF0ZSBDcmlzaXMtcmVndWxhcg==;--framer-font-family:&quot;Climate Crisis&quot;, sans-serif;--framer-font-size:20px;--framer-line-height:1.5em;--framer-text-alignment:left;--framer-text-color:rgb(141, 8, 1);--framer-text-transform:uppercase\" class=\"framer-text\">Champion/Challenger</h3>\n                                </div>\n                                <div class=\"framer-1xfntk\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                    <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">Powerful projects that prove expertise and technical prowess.</h3>\n                                </div>\n                            </div>\n                            <div class=\"framer-1541695\">\n                                <div class=\"framer-1gs90qc\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                    <h3 style=\"--font-selector:R0Y7Q2xpbWF0ZSBDcmlzaXMtcmVndWxhcg==;--framer-font-family:&quot;Climate Crisis&quot;, sans-serif;--framer-font-size:20px;--framer-line-height:1.5em;--framer-text-alignment:left;--framer-text-color:rgb(141, 8, 1);--framer-text-transform:uppercase\" class=\"framer-text\">Wizard’s Projects</h3>\n                                </div>\n                                <div class=\"framer-3uhpu2\">\n                                    <div class=\"framer-1u35yiq\" data-border=\"true\">\n                                        <div class=\"ssr-variant hidden-1e4mnvs hidden-tzvm26\">\n                                            <div class=\"framer-182cwdm\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                                <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">DragonFire CRM</h3>\n                                            </div>\n                                        </div>\n                                        <div class=\"ssr-variant hidden-tzvm26 hidden-72rtr7\">\n                                            <div class=\"framer-182cwdm\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                                <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:19px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">DragonFire CRM</h3>\n                                            </div>\n                                        </div>\n                                        <div class=\"ssr-variant hidden-1e4mnvs hidden-72rtr7\">\n                                            <div class=\"framer-182cwdm\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                                <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:19px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">DragonFire CRM</h3>\n                                            </div>\n                                        </div>\n                                        <div class=\"framer-1vc6bxr\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                            <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">2022</h3>\n                                        </div>\n                                    </div>\n                                    <div class=\"framer-ahdi54\" data-border=\"true\">\n                                        <div class=\"ssr-variant hidden-1e4mnvs hidden-tzvm26\">\n                                            <div class=\"framer-45gmbv\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                                <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">WizardCloud Services</h3>\n                                            </div>\n                                        </div>\n                                        <div class=\"ssr-variant hidden-tzvm26 hidden-72rtr7\">\n                                            <div class=\"framer-45gmbv\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                                <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:19px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">WizardCloud Services</h3>\n                                            </div>\n                                        </div>\n                                        <div class=\"ssr-variant hidden-1e4mnvs hidden-72rtr7\">\n                                            <div class=\"framer-45gmbv\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                                <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:19px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">WizardCloud Services</h3>\n                                            </div>\n                                        </div>\n                                        <div class=\"framer-m9fihf\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                            <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">2021</h3>\n                                        </div>\n                                    </div>\n                                    <div class=\"framer-c6e9xa\" data-border=\"true\">\n                                        <div class=\"ssr-variant hidden-1e4mnvs hidden-tzvm26\">\n                                            <div class=\"framer-dgndgm\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                                <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">DevOps Enchantments</h3>\n                                            </div>\n                                        </div>\n                                        <div class=\"ssr-variant hidden-tzvm26 hidden-72rtr7\">\n                                            <div class=\"framer-dgndgm\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                                <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:19px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">DevOps Enchantments</h3>\n                                            </div>\n                                        </div>\n                                        <div class=\"ssr-variant hidden-1e4mnvs hidden-72rtr7\">\n                                            <div class=\"framer-dgndgm\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                                <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:19px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">DevOps Enchantments</h3>\n                                            </div>\n                                        </div>\n                                        <div class=\"ssr-variant hidden-1e4mnvs\">\n                                            <div class=\"framer-1j08g1s\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                                <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">2020</h3>\n                                            </div>\n                                        </div>\n                                        <div class=\"ssr-variant hidden-tzvm26 hidden-72rtr7\">\n                                            <div class=\"framer-1j08g1s\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                                <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-letter-spacing:-1.8px;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">2020</h3>\n                                            </div>\n                                        </div>\n                                    </div>\n                                    <div class=\"framer-b691y0\">\n                                        <div class=\"ssr-variant hidden-1e4mnvs hidden-tzvm26\">\n                                            <div class=\"framer-1hdz44r\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                                <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">Trans</h3>\n                                            </div>\n                                        </div>\n                                        <div class=\"ssr-variant hidden-tzvm26 hidden-72rtr7\">\n                                            <div class=\"framer-1hdz44r\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                                <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:19px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">Trans</h3>\n                                            </div>\n                                        </div>\n                                        <div class=\"ssr-variant hidden-1e4mnvs hidden-72rtr7\">\n                                            <div class=\"framer-1hdz44r\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                                <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:19px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">Trans</h3>\n                                            </div>\n                                        </div>\n                                        <div class=\"framer-1rlllw6\" style=\"outline:none;display:flex;flex-direction:column;justify-content:flex-start;flex-shrink:0;transform:none\" data-framer-component-type=\"RichTextContainer\">\n                                            <h3 style=\"--font-selector:R0Y7SW5zdHJ1bWVudCBTYW5zLTUwMA==;--framer-font-family:&quot;Instrument Sans&quot;, sans-serif;--framer-font-size:20px;--framer-font-weight:500;--framer-letter-spacing:-0.025em;--framer-line-height:1.5em;--framer-text-alignment:left\" class=\"framer-text\">██</h3>\n                                        </div>\n                                    </div>\n                                </div>\n                            </div>\n                        </div>\n                        <div class=\"framer-1lfciee\" data-framer-name=\"Hard Light\" name=\"Hard Light\" style=\"transform:translate(-50%, -50%)\">\n                            <div class=\"framer-kdvar0-container\">\n                                <div class=\"framer-xIUJb framer-v-1y3ax6t\" style=\"display:contents\" tabindex=\"0\">\n                                    <div class=\"framer-1d4efzn\" data-framer-name=\"Squiggle 19\" style=\"height:100%;width:100%\">\n                                        <div class=\"framer-1nzhcfz\" data-framer-name=\"Squiggle 19\">\n                                            <div style=\"position:absolute;border-radius:inherit;top:0;right:0;bottom:0;left:0\" data-framer-background-image-wrapper=\"true\">\n                                                <img src=\"https://framerusercontent.com/images/i6nRWPolxLWyRTvebyasE43JpW4.png\" alt=\"\" srcset=\"https://framerusercontent.com/images/i6nRWPolxLWyRTvebyasE43JpW4.png?scale-down-to=512 512w, https://framerusercontent.com/images/i6nRWPolxLWyRTvebyasE43JpW4.png?scale-down-to=1024 1024w, https://framerusercontent.com/images/i6nRWPolxLWyRTvebyasE43JpW4.png 1600w\" sizes=\"(min-width: 1200px) 800px, (min-width: 810px) and (max-width: 1199px) 800px, (max-width: 809px) 800px\" style=\"display:block;width:100%;height:100%;border-radius:inherit;object-position:center;object-fit:cover;image-rendering:auto\" data-framer-original-sizes=\"800px\">\n                                            </div>\n                                        </div>\n                                    </div>\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n                <div id=\"overlay\"></div>\n            </div>\n        </div>\n        <div id=\"svg-templates\" style=\"position: absolute; overflow: hidden; top: 0; left: 0; width: 0; height: 0\"></div>\n        <div id=\"__framer-badge-container\"></div>\n        <script data-framer-appear-animation=\"no-preference\"></script>\n        <script type=\"module\" data-framer-bundle=\"\" src=\"https://framerusercontent.com/sites/2KtZ3xZ3hVt78b0TwcbX4z/_script0.LUQJZPRY.mjs\"></script>\n        <!-- End of bodyEnd -->\n    </body>\n</html>\n`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 180,
        "wires": [
            [
                "2e8a93563a17eef0"
            ]
        ]
    },
    {
        "id": "2e8a93563a17eef0",
        "type": "http response",
        "z": "2a8a5f82be2c1059",
        "name": "Resume HTML",
        "statusCode": "",
        "headers": {},
        "x": 620,
        "y": 220,
        "wires": []
    }
]