Resume Temp 3.txt
[
    {
        "id": "3284702444240623",
        "type": "http in",
        "z": "11480677bab31981",
        "name": "Resume Request",
        "url": "/generate-resume",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "c2a6f5240f9be294"
            ]
        ]
    },
    {
        "id": "b39de44e099b76f2",
        "type": "http response",
        "z": "11480677bab31981",
        "name": "Resume HTML",
        "statusCode": "",
        "headers": {},
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "c2a6f5240f9be294",
        "type": "function",
        "z": "11480677bab31981",
        "name": "function 1",
        "func": "msg.payload = `\n<!DOCTYPE html>\n<html>\n  <head>\n    <title>Web Developer</title>\n    <style>\n      body {\n        font-family: 'Arial', sans-serif;\n        margin: 0;\n        padding: 0;\n        background-color: gray;\n        color: #333;\n      }\n\n      header {\n        background-color: #333;\n        color: #fff;\n        text-align: center;\n        padding: 20px;\n      }\n\n      h2, h3 {\n        margin: 0;\n        color: #333;\n      }\n\n       h1{\n          margin: 0;\n         color: white;\n       }\n\n      .intro,\n      .skills,\n      .experience,\n      .education {\n        padding: 20px;\n        background-color: #fff;\n        margin-bottom: 20px;\n        border-radius: 5px;\n        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n        transition: box-shadow 0.3s ease;\n      }\n\n      .skills ul,\n      .experience ul {\n        list-style-type: none;\n        padding-left: 0;\n      }\n\n      .job {\n        margin-bottom: 20px;\n      }\n\n      .job h3 {\n        margin-bottom: 5px;\n      }\n\n      .date {\n        color: #666;\n        font-style: italic;\n      }\n\n      footer {\n        background-color: #333;\n        color: #fff;\n        text-align: center;\n        padding: 10px;\n      }\n\n      .container {\n        display: grid;\n        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));\n        grid-gap: 20px;\n      }\n\n      .card {\n        background-color: #fff;\n        border-radius: 5px;\n        padding: 20px;\n        transition: box-shadow 0.3s ease, transform 0.3s ease;\n      }\n\n      .card:hover {\n        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);\n        transform: scale(1.02);\n      }\n\n      .card h4 {\n        margin-top: 0;\n      }\n\n      .card p {\n        margin-bottom: 10px;\n      }\n\n      .footer-text {\n        font-size: 14px;\n      }\n        .skills ul {\n      list-style-type: none;\n      padding: 0;\n      margin: 0;\n    }\n\n    .skills li {\n      padding: 10px;\n      margin-bottom: 5px;\n      background-color: #f5f5f5;\n      transition: background-color 0.3s;\n    }\n\n    .skills li:hover {\n      background-color: #ffcc00; /* Change to your desired hover color */\n      color: #ffffff; /* Change text color on hover if needed */\n    }\n    </style>\n  </head>\n  <body>\n    <header>\n      <h1>FreeLance Web Developer</h1>\n    </header>\n    <section class=\"intro\">\n      <h2>About Me</h2>\n      <p>Hi, I'm Sandeep Joshi, a passionate web developer with expertise in HTML, CSS, and JavaScript. I have a strong background in building responsive and user-friendly websites.</p>\n    </section>\n    <section class=\"skills\">\n      <h2>Skills</h2>\n      <ul>\n        <li>HTML5</li>\n        <li>CSS3</li>\n        <li>JavaScript</li>\n        <li>NodeRed</li>\n        <li>Node.js</li>\n        <li>UI/UX Design</li>\n      </ul>\n    </section>\n    <section class=\"experience\">\n      <h2>Experience</h2>\n      <div class=\"container\">\n        <div class=\"card\">\n          <h3>Web Developer - HARMAN Company</h3>\n          <p class=\"date\">Jan 2022 - Present</p>\n          <ul>\n            <li>Developed and maintained company websites using HTML, CSS, and JavaScript</li>\n            <li>Collaborated with cross-functional teams to implement new features and enhance user experience</li>\n            <li>Optimized websites for speed and performance</li>\n          </ul>\n        </div>\n        <div class=\"card\">\n          <h3>Front-End Developer - L&T Engineering</h3>\n          <p class=\"date\">May 2020 - Dec 2021</p>\n          <ul>\n            <li>Translated design mock-ups into responsive web pages</li>\n            <li>Implemented various front-end libraries and frameworks</li>\n            <li>Ensured cross-browser compatibility and accessibility</li>\n          </ul>\n        </div>\n      </div>\n    </section>\n    <section class=\"education\">\n      <h2>Education</h2>\n      <div class=\"degree\">\n        <h3>Master of  Computer Application</h3>\n        <p class=\"date\">2012 - 2015</p>\n        <p>University of VTU</p>\n      </div>\n    </section>\n    <footer>\n      <p>© 2023 SANDEEP JOSHI</p>\n    </footer>\n  </body>\n</html>\n`; return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 220,
        "wires": [
            [
                "b39de44e099b76f2"
            ]
        ]
    }
]